html {
  font-size: 62.5%;
}

body {
  background-image: url(../img/darkness.png);
  margin: 0;
}

.navBar {
  grid-area: navBar;
}

.menuDeNavegacion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  margin-left: -30px;
}

.navBar .menuDeNavegacion li a {
  color: white;
  text-decoration: none;
  font-family: "Bungee";
  flex-wrap: wrap;
  font-size: 1.8rem;
}

.footer {
  grid-area: footer;
  color: white;
  font-family: "Bungee";
  background-color: rgb(63, 19, 104);
}

.footer p {
  grid-area: footer;
  color: white;
  font-family: "Bungee";
  font-size: 10px;
  background-color: rgb(63, 19, 104);
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.margin__izquierdo {
  grid-area: margin__izquierdo;
}

.margin__derecho {
  grid-area: margin__derecho;
}

/*INDEX*/
.index-container {
  display: grid;
  grid-template-columns: 0.6fr 3fr 0.6fr;
  grid-template-rows: 0.5fr 0.5fr 3fr 2fr 1fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo index__Titulo__Container margin__derecho" "margin__izquierdo index__VideoyTexto__Container margin__derecho" "margin__izquierdo index__Suscripciones__Container margin__derecho" "margin__izquierdo index__ManteneteActivado__Container margin__derecho" "margin__izquierdo footer margin__derecho";
}

.index__VideoyTexto__Container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas: "index__Video__Container" "index__Texto__Container";
  grid-area: index__VideoyTexto__Container;
}

/*WORLD*/
.World__Container {
  display: grid;
  grid-template-columns: 0.6fr 3fr 0.6fr;
  grid-template-rows: 0.5fr 0.5fr 5fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo World__Titulo__Container margin__derecho" "margin__izquierdo World__AboutUs__Container margin__derecho" "margin__izquierdo footer margin__derecho";
}

/*MERCHANDISE*/
.merchandise-Container {
  display: grid;
  grid-template-columns: 0.6fr 3fr 0.6fr;
  grid-template-rows: 0.5fr 4fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo merchandise__main__container margin__derecho" "margin__izquierdo footer margin__derecho";
}

/*INDOORS*/
.indoors-container {
  display: grid;
  grid-template-columns: 0.6fr 3fr 0.6fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 5.5fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo indoors__Titulo__Container margin__derecho" "margin__izquierdo indoors__Subtitulos__Container margin__derecho" "margin__izquierdo indoors__CapitulosyDescripciones__Container margin__derecho" "margin__izquierdo footer margin__derecho";
}

.indoors__CapitulosyDescripciones__Container {
  display: grid;
  grid-template-columns: 0.6fr 3fr 0.6fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". indoors__temporada1__episodio1 ." ". indoors__temporada1__descripcion1 .";
  grid-area: indoors__CapitulosyDescripciones__Container;
}

/*GALERIA*/
.gallery-container {
  display: grid;
  grid-template-columns: 0.6fr 3fr 0.6fr;
  grid-template-rows: 0.5fr 0.5fr 5fr 1fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo gallery__titulo__container margin__derecho" "margin__izquierdo gallery__main__container margin__derecho" "margin__izquierdo gallery__text__container margin__derecho" "margin__izquierdo footer margin__derecho";
}

/*CONTACTO*/
.contact-container {
  display: grid;
  grid-template-columns: 0.6fr 3fr 0.6fr;
  grid-template-rows: 0.5fr 0.5fr 5fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo contact__title__container margin__derecho" "margin__izquierdo contact__main__container margin__derecho" "margin__izquierdo footer margin__derecho";
}

/*INDEX*/
.index__Titulo__Container {
  grid-area: index__Titulo__Container;
}
.index__Titulo__Container h1 {
  display: flex;
  justify-content: space-evenly;
}

.index__Video__Container {
  grid-area: index__Video__Container;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.index__Video__Container iframe {
  width: 80%;
  height: 90%;
}

.index__Texto__Container {
  grid-area: index__Texto__Container;
  background-color: white;
  width: 80%;
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 150px;
  text-align: center;
}

.index__Suscripciones__Container {
  grid-area: index__Suscripciones__Container;
}

.suscripciones__titulo {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.index__ManteneteActivado__Container {
  grid-area: index__ManteneteActivado__Container;
}

.canales__titulo {
  display: flex;
  justify-content: space-evenly;
}

.index__manteneteActivado__canales ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
}

/*WORLD*/
.World__Titulo__Container {
  grid-area: World__Titulo__Container;
}

.World__Titulo__Container h1 {
  display: flex;
  justify-content: space-around;
}

.World__Titulo__SubContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.World__AboutUs__Container {
  grid-area: World__AboutUs__Container;
}

.world__activa__titulo {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.world__leyDeAtraccion__titulo {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.world__vision__titulo {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

/*MERCHANDISE*/
.merchandise__main__container {
  grid-area: merchandise__main__container;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url(../img/BTTF-Retro-1.gif);
  background-size: cover;
  background-position: center;
}

/*INDOORS*/
.indoors__Titulo__Container h1 {
  grid-area: indoors__Titulo__Container;
  display: flex;
  justify-content: space-evenly;
}

.indoors__Subtitulos__Container {
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-content: space-evenly;
}

.indoors__temporada1__episodio1 {
  grid-area: indoors__temporada1__episodio1;
  display: flex;
  justify-content: space-around;
}

.indoors__temporada1__descripcion1 {
  grid-area: indoors__temporada1__descripcion1;
}
.indoors__temporada1__descripcion1 h3 {
  display: flex;
  justify-content: space-around;
}

/*GALERIA*/
.gallery__titulo__container h1 {
  grid-area: gallery__titulo__container;
  display: flex;
  justify-content: space-evenly;
}

.gallery__main__container {
  grid-area: gallery__main__container;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
}

.gallery__text__container {
  grid-area: gallery__text__container;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*CONTACTO*/
.contact__title {
  display: flex;
  justify-content: space-evenly;
}

.contact__main__container {
  grid-area: contact__main__container;
}

.contact__main__NuestroContacto {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: baseline;
  margin-left: -45px;
}
.contact__main__NuestroContacto li a {
  text-decoration: none;
  color: white;
}

.seccionContactos__Nombre {
  display: flex;
  justify-content: space-evenly;
}

.seccionContactos__Mail {
  display: flex;
  justify-content: space-evenly;
}

.seccionContactos__Telefono {
  display: flex;
  justify-content: space-evenly;
}

.seccionContactos__Empresa {
  display: flex;
  justify-content: space-evenly;
}

.seccionContactos__Asunto {
  display: flex;
  justify-content: space-evenly;
}

.seccionContactos__Mensaje {
  display: flex;
  justify-content: space-evenly;
}

/*INDEX*/
.index__Titulo__Container h1 {
  font-size: 40px;
  color: black;
  -webkit-text-stroke: 1px white;
  font-family: "Bungee";
}

.suscripciones__titulo {
  color: white;
  font-size: 30px;
  font-family: "Bungee";
}

.canales__titulo {
  color: white;
  font-size: 30px;
  font-family: "Bungee";
  margin-top: 0;
}

/*WORLD*/
.World__Titulo__Container h1 {
  font-family: "Bungee";
  color: black;
  -webkit-text-stroke: 1px white;
  font-size: 40px;
}

.world__activa__titulo {
  font-size: 30px;
  font-family: "Bungee";
  color: white;
}

.world__leyDeAtraccion__titulo {
  font-size: 30px;
  font-family: "Bungee";
  color: white;
}

.world__vision__titulo {
  font-size: 30px;
  font-family: "Bungee";
  color: white;
}

/*MERCHANDISE*/
.merchandise__main__container p {
  font-family: "Bungee";
  font-size: 10rem;
  color: black;
  -webkit-text-stroke: 3px white;
}

/*INDOORS*/
.indoors__Titulo__Container {
  font-size: 20px;
}
.indoors__Titulo__Container h1 {
  grid-area: indoors__Titulo__Container;
  color: black;
  -webkit-text-stroke: 1px white;
  font-family: "Bungee";
}

.episodios__titulo {
  color: white;
  font-family: "Bungee";
}

.indoors__temporada1__descripcion1 h3 {
  font-size: 30px;
}

/*GALERIA*/
.gallery__titulo__container h1 {
  font-family: "Bungee";
  color: black;
  -webkit-text-stroke: 1px white;
  font-size: 40px;
}

/*CONTACTO*/
.contact__title {
  grid-area: contact__title__container;
  font-size: 40px;
  color: black;
  -webkit-text-stroke: 1px white;
  font-family: "Bungee";
}

/*INDEX*/
.index__Texto__Container p {
  font-family: "Russo One";
  font-size: 12px;
}

/*WORLD*/
.world__Textos__1 p {
  font-family: "Russo One";
  color: white;
  width: 100%;
  border-radius: 20px;
  font-size: 12px;
}

.world__Textos__2 p {
  font-family: "Russo One";
  color: white;
  width: 100%;
  border-radius: 20px;
  font-size: 12px;
}

.world__Textos__3 p {
  font-family: "Russo One";
  color: white;
  width: 100%;
  border-radius: 20px;
  font-size: 12px;
}

/*MERCHANDISE*/
/*INDOORS*/
.indoors__temporada1__descripcion1 h3 {
  font-family: "Bungee";
  color: white;
}

.indoors__temporada1__descripcion1 p {
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  font-family: "Russo One";
  color: white;
}

/*GALERIA*/
.gallery__text__container p {
  font-family: "Russo One";
  font-size: 12px;
  width: 80%;
  color: white;
}

/*CONTACTO*/
.contact__main__NuestroContacto {
  color: white;
  font-family: "Russo One";
  font-size: 13px;
}

/*INDEX*/
.index__Suscripciones__Container form {
  margin-top: 50px;
}

.suscripciones {
  text-align: center;
}

.suscripciones__email {
  width: 200px;
  height: 20px;
  background: linear-gradient(to left, silver, white);
  font-family: "Russo One";
  font-size: 10px;
  margin-right: 50px;
}

/*CONTACTO*/
#Nombre {
  width: 100%;
  font-family: "Russo One";
  margin-top: 50px;
}

#Mail {
  width: 100%;
  font-family: "Russo One";
  margin-top: 20px;
}

#Telefono {
  width: 100%;
  font-family: "Russo One";
  margin-top: 20px;
}

#Empresa {
  width: 100%;
  font-family: "Russo One";
  margin-top: 20px;
}

#Asunto {
  width: 100%;
  font-family: "Russo One";
  margin-top: 20px;
}

#Mensaje {
  width: 100%;
  height: 200px;
  font-family: "Russo One";
  margin-top: 20px;
}

/*INDEX*/
.logoSpotify {
  margin-left: -110px;
}

/*INDEX*/
.logoSpotify img {
  border-radius: 200px;
}

.logoInstagram img {
  border-radius: 200px;
}

/*WORLD*/
.World__Titulo__Container div img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

/*GALERIA*/
.gallery__main__container img {
  margin: 10px 10px;
}

/*INDEX*/
.suscripciones__button {
  font-family: "Bungee";
  background-color: black;
  color: white;
  border: solid 2px white;
  width: 150px;
  height: 50px;
}

/*INDOORS*/
.indoors__Subtitulos__Container select {
  font-family: "Bungee";
  color: white;
  background-color: black;
  border: solid 2px white;
  width: 150px;
  height: 30px;
}

/*CONTACTO*/
#BotonEnviarContactos {
  font-family: "Bungee";
  background-color: black;
  color: white;
  border: solid 2px white;
  width: 150px;
  height: 50px;
  margin-top: 150px;
  margin-left: 610px;
}

/*ANIMACIONES-TRANSFORMACIONES-TRANSICIONES*/
/*GENERALES*/
.logoMenuDeNavegacion:hover {
  transform: scale(1.05);
  transition: 1s;
}

.navBar .menuDeNavegacion li .subrayado:hover {
  border-bottom: solid 2px white;
}

/*INDEX*/
.suscripciones__button:hover {
  color: black;
  background-color: white;
  border: solid 2px black;
}

#BotonEnviarIndex:hover {
  color: black;
  background-color: white;
  border: solid 2px black;
}

/*INDOORS*/
#episodios__selectTemporada:hover {
  color: black;
  background-color: white;
  border: solid 2px black;
}

/*GALERIA*/
.gallery__main__container img:hover {
  transform: scale(1.5);
  transition: 1s;
}

/*CONTACTO*/
#BotonEnviarContactos:hover {
  color: black;
  background-color: white;
  border: solid 2px black;
}

/*GENERALES*/
@media (max-width: 320px) {
  .navBar {
    margin-left: -10px;
  }
}
@media (max-width: 1200px) {
  .navBar .menuDeNavegacion li a {
    font-size: 1.7rem;
  }
}
@media (max-width: 1024px) {
  .navBar .menuDeNavegacion li a {
    font-size: 1.5rem;
  }
}
@media (max-width: 950px) {
  .navBar .menuDeNavegacion li a {
    font-size: 1.35rem;
  }
}
@media (max-width: 900px) {
  .navBar .menuDeNavegacion li a {
    font-size: 1.25rem;
  }
}
@media (max-width: 850px) {
  .navBar .menuDeNavegacion li a {
    font-size: 1.15rem;
  }
}
@media (max-width: 800px) {
  .navBar .menuDeNavegacion li a {
    font-size: 1.05rem;
  }
}
@media (max-width: 600px) {
  .navBar .menuDeNavegacion li a {
    font-size: 0.85rem;
    margin-left: 3px;
  }
}
@media (max-width: 480px) {
  .navBar .menuDeNavegacion li a {
    margin-left: 5px;
  }
}
@media (max-width: 320px) {
  .navBar .menuDeNavegacion li a {
    font-size: 0.8rem;
  }
}
@media (max-width: 1200px) {
  .logoMenuDeNavegacion a img {
    height: 95%;
    width: 95%;
  }
}
@media (max-width: 1024px) {
  .logoMenuDeNavegacion a img {
    height: 85%;
    width: 85%;
    margin-left: 10px;
  }
}
@media (max-width: 950px) {
  .logoMenuDeNavegacion a img {
    height: 75%;
    width: 75%;
  }
}
@media (max-width: 320px) {
  .logoMenuDeNavegacion a img {
    height: 65%;
    width: 65%;
    margin-left: 7px;
  }
}
@media (max-width: 768px) {
  .logoMenuDeNavegacion {
    width: 100px;
  }
}
@media (max-width: 320px) {
  .logoMenuDeNavegacion {
    width: 60px;
  }
}
@media (max-width: 1200px) {
  .footer p {
    font-size: 9px;
  }
}
@media (max-width: 1024px) {
  .footer p {
    font-size: 8px;
  }
}
@media (max-width: 950px) {
  .footer p {
    font-size: 7.6px;
  }
}
@media (max-width: 768px) {
  .footer p {
    font-size: 5.93px;
  }
}
/*INDEX*/
@media (max-width: 320px) {
  .index-container {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 0.5fr 0.5fr 3fr 2.5fr 1.5fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "index__Titulo__Container" "index__VideoyTexto__Container" "index__Suscripciones__Container" "index__ManteneteActivado__Container" "footer";
  }
}
@media (max-width: 1200px) {
  .index__Titulo__Container {
    font-size: 19px;
  }
}
@media (max-width: 1024px) {
  .index__Titulo__Container {
    font-size: 17px;
  }
}
@media (max-width: 950px) {
  .index__Titulo__Container {
    font-size: 16.15px;
  }
}
@media (max-width: 768px) {
  .index__Titulo__Container {
    font-size: 12.6px;
  }
}
@media (max-width: 1400px) {
  .index__Texto__Container {
    margin-left: 100px;
  }
}
@media (max-width: 1200px) {
  .index__Texto__Container {
    font-size: 11.4px;
  }
}
@media (max-width: 1024px) {
  .index__Texto__Container {
    font-size: 10.3px;
    margin-left: 73px;
  }
}
@media (max-width: 950px) {
  .index__Texto__Container {
    font-size: 9.785px;
    margin-left: 69.35px;
  }
}
@media (max-width: 768px) {
  .index__Texto__Container {
    font-size: 7.63px;
    margin-left: 54.09px;
  }
}
@media (max-width: 600px) {
  .index__Texto__Container {
    font-size: 6.49px;
    margin-left: 46px;
  }
}
@media (max-width: 320px) {
  .index__Texto__Container {
    margin-left: 37px;
  }
}
@media (max-width: 1200px) {
  .suscripciones__titulo {
    font-size: 28.5px;
  }
}
@media (max-width: 1024px) {
  .suscripciones__titulo {
    font-size: 25.65px;
  }
}
@media (max-width: 950px) {
  .suscripciones__titulo {
    font-size: 24.36px;
  }
}
@media (max-width: 768px) {
  .suscripciones__titulo {
    font-size: 19px;
  }
}
@media (max-width: 1200px) {
  .suscripciones__parrafo {
    font-size: 11.4px;
  }
}
@media (max-width: 1024px) {
  .suscripciones__parrafo {
    font-size: 10.26px;
  }
}
@media (max-width: 950px) {
  .suscripciones__parrafo {
    font-size: 9.75px;
  }
}
@media (max-width: 768px) {
  .suscripciones__parrafo {
    font-size: 7.61px;
  }
}
@media (max-width: 1200px) {
  .suscripciones__email {
    font-size: 9.5px;
  }
}
@media (max-width: 1024px) {
  .suscripciones__email {
    font-size: 8.4px;
  }
}
@media (max-width: 950px) {
  .suscripciones__email {
    font-size: 7.98px;
  }
}
@media (max-width: 768px) {
  .suscripciones__email {
    font-size: 6.22px;
  }
}
@media (max-width: 320px) {
  .suscripciones__email {
    width: 150px;
  }
}
@media (max-width: 1200px) {
  .suscripciones__button {
    width: 142.5px;
    height: 47.5px;
    font-size: 11px;
  }
}
@media (max-width: 1024px) {
  .suscripciones__button {
    width: 128.25px;
    height: 42.75px;
    font-size: 9.9px;
  }
}
@media (max-width: 950px) {
  .suscripciones__button {
    width: 121.84px;
    height: 40.61px;
    font-size: 9.41px;
  }
}
@media (max-width: 768px) {
  .suscripciones__button {
    width: 95.04px;
    height: 31.68px;
    font-size: 7.34px;
  }
}
@media (max-width: 1200px) {
  .canales__titulo {
    font-size: 28.5px;
  }
}
@media (max-width: 1024px) {
  .canales__titulo {
    font-size: 25.65px;
  }
}
@media (max-width: 950px) {
  .canales__titulo {
    font-size: 24.37px;
  }
}
@media (max-width: 768px) {
  .canales__titulo {
    font-size: 19px;
  }
}
@media (max-width: 320px) {
  .index__manteneteActivado__canales ul {
    margin-left: -12px;
  }
}
@media (max-width: 768px) {
  .logoSpotify {
    margin-left: -80px;
  }
}
@media (max-width: 600px) {
  .logoSpotify {
    margin-left: -60px;
  }
}
@media (max-width: 800px) {
  .logoSpotify img {
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 800px) {
  .logoInstagram img {
    height: 50px;
    width: 50px;
  }
}
/*WORLD*/
@media (max-width: 950px) {
  .World__Container {
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    grid-template-rows: 0.5fr 0.5fr 6fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo World__Titulo__Container margin__derecho" "margin__izquierdo World__AboutUs__Container margin__derecho" "margin__izquierdo footer margin__derecho";
  }
}
@media (max-width: 600px) {
  .World__Container {
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    grid-template-rows: 0.5fr 0.5fr 7fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo World__Titulo__Container margin__derecho" "margin__izquierdo World__AboutUs__Container margin__derecho" "margin__izquierdo footer margin__derecho";
  }
}
@media (max-width: 1200px) {
  .World__Titulo__Container {
    font-size: 19px;
  }
}
@media (max-width: 1024px) {
  .World__Titulo__Container {
    font-size: 17px;
  }
}
@media (max-width: 950px) {
  .World__Titulo__Container {
    font-size: 16.15px;
  }
}
@media (max-width: 768px) {
  .World__Titulo__Container {
    font-size: 12.6px;
  }
}
@media (max-width: 1200px) {
  .World__Titulo__Container div img {
    width: 95px;
    height: 95px;
  }
}
@media (max-width: 1024px) {
  .World__Titulo__Container div img {
    width: 85px;
    height: 85px;
  }
}
@media (max-width: 950px) {
  .World__Titulo__Container div img {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 768px) {
  .World__Titulo__Container div img {
    width: 62.4px;
    height: 62.4px;
  }
}
@media (max-width: 1200px) {
  .world__activa__titulo {
    font-size: 28.5px;
  }
}
@media (max-width: 1024px) {
  .world__activa__titulo {
    font-size: 25.65px;
  }
}
@media (max-width: 950px) {
  .world__activa__titulo {
    font-size: 24.37px;
  }
}
@media (max-width: 768px) {
  .world__activa__titulo {
    font-size: 19px;
  }
}
@media (max-width: 1200px) {
  .world__Textos__1 p {
    font-size: 11.4px;
  }
}
@media (max-width: 1024px) {
  .world__Textos__1 p {
    font-size: 10.26px;
  }
}
@media (max-width: 950px) {
  .world__Textos__1 p {
    font-size: 9.747px;
  }
}
@media (max-width: 768px) {
  .world__Textos__1 p {
    font-size: 7.6px;
  }
}
@media (max-width: 480px) {
  .world__Textos__1 p {
    width: 80%;
    margin-left: 50px;
  }
}
@media (max-width: 1200px) {
  .world__leyDeAtraccion__titulo {
    font-size: 28.5px;
  }
}
@media (max-width: 1024px) {
  .world__leyDeAtraccion__titulo {
    font-size: 25.65px;
  }
}
@media (max-width: 950px) {
  .world__leyDeAtraccion__titulo {
    font-size: 23.09px;
  }
}
@media (max-width: 768px) {
  .world__leyDeAtraccion__titulo {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  .world__Textos__2 p {
    font-size: 11.4px;
  }
}
@media (max-width: 1024px) {
  .world__Textos__2 p {
    font-size: 10.26px;
  }
}
@media (max-width: 950px) {
  .world__Textos__2 p {
    font-size: 9.75px;
  }
}
@media (max-width: 768px) {
  .world__Textos__2 p {
    font-size: 7.61px;
  }
}
@media (max-width: 480px) {
  .world__Textos__2 p {
    width: 80%;
    margin-left: 50px;
  }
}
@media (max-width: 1200px) {
  .world__vision__titulo {
    font-size: 28.5px;
  }
}
@media (max-width: 1024px) {
  .world__vision__titulo {
    font-size: 25.65px;
  }
}
@media (max-width: 950px) {
  .world__vision__titulo {
    font-size: 24.37px;
  }
}
@media (max-width: 768px) {
  .world__vision__titulo {
    font-size: 19px;
  }
}
@media (max-width: 1200px) {
  .world__Textos__3 p {
    font-size: 11.4px;
  }
}
@media (max-width: 1024px) {
  .world__Textos__3 p {
    font-size: 10.26px;
  }
}
@media (max-width: 950px) {
  .world__Textos__3 p {
    font-size: 9.75px;
  }
}
@media (max-width: 768px) {
  .world__Textos__3 p {
    font-size: 7.61px;
  }
}
@media (max-width: 480px) {
  .world__Textos__3 p {
    width: 80%;
    margin-left: 50px;
  }
}
/*MERCHANDISE*/
@media (max-width: 950px) {
  .merchandise-Container {
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    grid-template-rows: 0.5fr 4.5fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo merchandise__main__container margin__derecho" "margin__izquierdo footer margin__derecho";
  }
}
@media (max-width: 768px) {
  .merchandise-Container {
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    grid-template-rows: 0.5fr 7fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo merchandise__main__container margin__derecho" "margin__izquierdo footer margin__derecho";
  }
}
@media (max-width: 383px) {
  .merchandise-Container {
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    grid-template-rows: 0.5fr 7.5fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo merchandise__main__container margin__derecho" "margin__izquierdo footer margin__derecho";
  }
}
@media (max-width: 361px) {
  .merchandise-Container {
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    grid-template-rows: 0.5fr 8fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo merchandise__main__container margin__derecho" "margin__izquierdo footer margin__derecho";
  }
}
@media (max-width: 343px) {
  .merchandise-Container {
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    grid-template-rows: 0.5fr 8.3fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo merchandise__main__container margin__derecho" "margin__izquierdo footer margin__derecho";
  }
}
@media (max-width: 333px) {
  .merchandise-Container {
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    grid-template-rows: 0.5fr 8.5fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo merchandise__main__container margin__derecho" "margin__izquierdo footer margin__derecho";
  }
}
@media (max-width: 325px) {
  .merchandise-Container {
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    grid-template-rows: 0.5fr 8.8fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo merchandise__main__container margin__derecho" "margin__izquierdo footer margin__derecho";
  }
}
@media (max-width: 320px) {
  .merchandise-Container {
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    grid-template-rows: 0.5fr 12fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo merchandise__main__container margin__derecho" "margin__izquierdo footer margin__derecho";
  }
}
@media (max-width: 1300px) {
  .merchandise__main__container p {
    font-size: 9rem;
  }
}
@media (max-width: 1200px) {
  .merchandise__main__container p {
    font-size: 8rem;
  }
}
@media (max-width: 1024px) {
  .merchandise__main__container p {
    font-size: 7rem;
  }
}
@media (max-width: 950px) {
  .merchandise__main__container p {
    font-size: 6rem;
  }
}
@media (max-width: 768px) {
  .merchandise__main__container p {
    font-size: 5.5rem;
  }
}
@media (max-width: 768px) {
  .merchandise__main__container p {
    font-size: 5rem;
  }
}
@media (max-width: 480px) {
  .merchandise__main__container p {
    font-size: 4.5rem;
  }
}
@media (max-width: 320px) {
  .merchandise__main__container p {
    font-size: 4rem;
  }
}
/*INDOORS*/
@media (max-width: 768px) {
  .indoors-container {
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 6.5fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo indoors__Titulo__Container margin__derecho" "margin__izquierdo indoors__Subtitulos__Container margin__derecho" "margin__izquierdo indoors__CapitulosyDescripciones__Container margin__derecho" "margin__izquierdo footer margin__derecho";
  }
}
@media (max-width: 1200px) {
  .indoors__Titulo__Container {
    font-size: 19px;
  }
}
@media (max-width: 1024px) {
  .indoors__Titulo__Container {
    font-size: 17px;
  }
}
@media (max-width: 950px) {
  .indoors__Titulo__Container {
    font-size: 16.15px;
  }
}
@media (max-width: 768px) {
  .indoors__Titulo__Container {
    font-size: 12.6px;
  }
}
@media (max-width: 1200px) {
  .indoors__Subtitulos__Container select {
    font-size: 11px;
  }
}
@media (max-width: 1024px) {
  .indoors__Subtitulos__Container select {
    font-size: 9.9px;
  }
}
@media (max-width: 950px) {
  .indoors__Subtitulos__Container select {
    font-size: 9.41px;
  }
}
@media (max-width: 768px) {
  .indoors__Subtitulos__Container select {
    font-size: 7.34px;
  }
}
@media (max-width: 1200px) {
  .indoors__temporada1__descripcion1 h3 {
    font-size: 28.5px;
  }
}
@media (max-width: 1024px) {
  .indoors__temporada1__descripcion1 h3 {
    font-size: 25.65px;
  }
}
@media (max-width: 950px) {
  .indoors__temporada1__descripcion1 h3 {
    font-size: 24.37px;
  }
}
@media (max-width: 768px) {
  .indoors__temporada1__descripcion1 h3 {
    font-size: 19px;
  }
}
@media (max-width: 768px) {
  .indoors__temporada1__episodio1 video {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .indoors__temporada1__descripcion1 p {
    font-size: 11.4px;
  }
}
@media (max-width: 1024px) {
  .indoors__temporada1__descripcion1 p {
    font-size: 10.26px;
  }
}
@media (max-width: 950px) {
  .indoors__temporada1__descripcion1 p {
    font-size: 9.75px;
  }
}
@media (max-width: 768px) {
  .indoors__temporada1__descripcion1 p {
    font-size: 7.61px;
  }
}
@media (max-width: 600px) {
  .indoors__temporada1__descripcion1 p {
    margin-bottom: 50px;
  }
}
/*GALERIA*/
@media (max-width: 1791px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    grid-template-rows: 0.4fr 0.2fr 6fr 1fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo gallery__titulo__container margin__derecho" "margin__izquierdo gallery__main__container margin__derecho" "margin__izquierdo gallery__text__container margin__derecho" "margin__izquierdo footer margin__derecho";
  }
}
@media (max-width: 1200px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    grid-template-rows: 0.3fr 0.2fr 6fr 0.8fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo gallery__titulo__container margin__derecho" "margin__izquierdo gallery__main__container margin__derecho" "margin__izquierdo gallery__text__container margin__derecho" "margin__izquierdo footer margin__derecho";
  }
}
@media (max-width: 950px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    grid-template-rows: 0.2fr 0.2fr 6fr 0.8fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo gallery__titulo__container margin__derecho" "margin__izquierdo gallery__main__container margin__derecho" "margin__izquierdo gallery__text__container margin__derecho" "margin__izquierdo footer margin__derecho";
  }
}
@media (max-width: 895px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    grid-template-rows: 0.1fr 0.2fr 6fr 0.5fr 0.05fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo gallery__titulo__container margin__derecho" "margin__izquierdo gallery__main__container margin__derecho" "margin__izquierdo gallery__text__container margin__derecho" "margin__izquierdo footer margin__derecho";
  }
}
@media (max-width: 768px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    grid-template-rows: 0.01fr 0.05fr 5fr 0.3fr 0.01fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo gallery__titulo__container margin__derecho" "margin__izquierdo gallery__main__container margin__derecho" "margin__izquierdo gallery__text__container margin__derecho" "margin__izquierdo footer margin__derecho";
  }
}
@media (max-width: 1200px) {
  .gallery__titulo__container {
    font-size: 19px;
  }
}
@media (max-width: 1024px) {
  .gallery__titulo__container {
    font-size: 17px;
  }
}
@media (max-width: 950px) {
  .gallery__titulo__container {
    font-size: 16.15px;
  }
}
@media (max-width: 768px) {
  .gallery__titulo__container {
    font-size: 12.6px;
  }
}
@media (max-width: 1200px) {
  .gallery__text__container p {
    font-size: 11.4px;
  }
}
@media (max-width: 1024px) {
  .gallery__text__container p {
    font-size: 10.26px;
  }
}
@media (max-width: 950px) {
  .gallery__text__container p {
    font-size: 9.75px;
  }
}
@media (max-width: 768px) {
  .gallery__text__container p {
    font-size: 7.61px;
  }
}
/*CONTACTO*/
@media (max-width: 768px) {
  .contact-container {
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    grid-template-rows: 0.5fr 0.5fr 6fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo contact__title__container margin__derecho" "margin__izquierdo contact__main__container margin__derecho" "margin__izquierdo footer margin__derecho";
  }
}
@media (max-width: 320px) {
  .contact-container {
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr;
    grid-template-rows: 0.5fr 0.5fr 8fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "margin__izquierdo navBar margin__derecho" "margin__izquierdo contact__title__container margin__derecho" "margin__izquierdo contact__main__container margin__derecho" "margin__izquierdo footer margin__derecho";
  }
}
@media (max-width: 1200px) {
  .contact__title__container {
    font-size: 19px;
  }
}
@media (max-width: 1024px) {
  .contact__title__container {
    font-size: 17px;
  }
}
@media (max-width: 950px) {
  .contact__title__container {
    font-size: 16.15px;
  }
}
@media (max-width: 768px) {
  .contact__title__container {
    font-size: 12.6px;
  }
}
@media (max-width: 1200px) {
  .contact__main__NuestroContacto {
    font-size: 12.4px;
  }
}
@media (max-width: 1024px) {
  .contact__main__NuestroContacto {
    font-size: 11.16px;
  }
}
@media (max-width: 950px) {
  .contact__main__NuestroContacto {
    font-size: 10.602px;
  }
}
@media (max-width: 950px) {
  .contact__main__NuestroContacto {
    font-size: 8.27px;
  }
}
@media (max-width: 479px) {
  #Nombre {
    width: 80%;
    margin-left: -50px;
  }
}
@media (max-width: 1024px) {
  #Nombre {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  #Nombre {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  #Nombre {
    font-size: 9px;
  }
}
@media (max-width: 479px) {
  #Nombre {
    margin-left: -35px;
  }
}
@media (max-width: 1024px) {
  #Mail {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  #Mail {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  #Mail {
    font-size: 9px;
  }
}
@media (max-width: 479px) {
  #Mail {
    width: 80%;
    margin-left: -35px;
  }
}
@media (max-width: 1024px) {
  #Telefono {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  #Telefono {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  #Telefono {
    font-size: 9px;
  }
}
@media (max-width: 479px) {
  #Telefono {
    width: 80%;
    margin-left: -35px;
  }
}
@media (max-width: 1024px) {
  #Empresa {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  #Empresa {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  #Empresa {
    font-size: 9px;
  }
}
@media (max-width: 479px) {
  #Empresa {
    width: 80%;
    margin-left: -35px;
  }
}
@media (max-width: 1024px) {
  #Asunto {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  #Asunto {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  #Asunto {
    font-size: 9px;
  }
}
@media (max-width: 479px) {
  #Asunto {
    width: 80%;
    margin-left: -35px;
  }
}
@media (max-width: 1024px) {
  #Mensaje {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  #Mensaje {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  #Mensaje {
    font-size: 9px;
  }
}
@media (max-width: 479px) {
  #Mensaje {
    width: 80%;
    margin-left: -3px;
  }
}
@media (max-width: 1750px) {
  #BotonEnviarContactos {
    margin-left: 550px;
  }
}
@media (max-width: 1700px) {
  #BotonEnviarContactos {
    margin-left: 565px;
  }
}
@media (max-width: 1650px) {
  #BotonEnviarContactos {
    margin-left: 525px;
  }
}
@media (max-width: 1500px) {
  #BotonEnviarContactos {
    margin-left: 495px;
  }
}
@media (max-width: 1400px) {
  #BotonEnviarContactos {
    margin-left: 430px;
  }
}
@media (max-width: 1300px) {
  #BotonEnviarContactos {
    margin-left: 410px;
  }
}
@media (max-width: 1200px) {
  #BotonEnviarContactos {
    margin-left: 368px;
    width: 142.5px;
    height: 47.5px;
    font-size: 11px;
  }
}
@media (max-width: 1100px) {
  #BotonEnviarContactos {
    margin-left: 330px;
    width: 142.5px;
    height: 47.5px;
    font-size: 11px;
  }
}
@media (max-width: 1024px) {
  #BotonEnviarContactos {
    margin-left: 300px;
    width: 128.25px;
    height: 42.75px;
    font-size: 9.9px;
  }
}
@media (max-width: 950px) {
  #BotonEnviarContactos {
    margin-top: 75px;
    margin-left: 275px;
    width: 121.83px;
    height: 40.61px;
    font-size: 9.41px;
  }
}
@media (max-width: 900px) {
  #BotonEnviarContactos {
    margin-top: 75px;
    margin-left: 250px;
    width: 121.83px;
    height: 40.61px;
    font-size: 9.41px;
  }
}
@media (max-width: 950px) {
  #BotonEnviarContactos {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 310px;
    width: 95px;
    height: 31.68px;
    font-size: 7.34px;
  }
}
@media (max-width: 768px) {
  #BotonEnviarContactos {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 230px;
    width: 95px;
    height: 31.68px;
    font-size: 7.34px;
  }
}
@media (max-width: 600px) {
  #BotonEnviarContactos {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 180px;
    width: 95px;
    height: 31.68px;
    font-size: 7.34px;
  }
}
@media (max-width: 480px) {
  #BotonEnviarContactos {
    margin-left: 160px;
  }
}
@media (max-width: 320px) {
  #BotonEnviarContactos {
    margin-left: 135px;
  }
}
/*INDEX*/
/*MERCHANDISE*/
/*INDOORS*/
/*GALERIA*/
/*CONTACTO*/

/*# sourceMappingURL=styles.css.map */
