/*GENERALES*/
/*TITULOS*/
/*PARRAFOS*/
/*SEPARACIONES*/
/*PSEUDOCLASES*/
/*GRILLAS*/
/*CONTAINERS*/
/*FORMULARIOS*/
/*BOTONES*/
.boton, #botonEnviarContactos, #episodios__selectTemporada, .suscripciones__button {
  font-family: "Bungee";
  background-color: black;
  color: white;
  border: solid 2px white;
  width: 150px;
}

/*MEDIA QUARIES*/
/*RESET*/
html {
  font-size: 62.5%;
}

body {
  background-image: url(../img/darkness.png);
  margin: 0;
}

/*GRILLAS*/
/*Generales*/
.navBar {
  grid-area: navBar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas: "logoMenuDeNavegacion__container" "menuDeNavegacion";
}

/*Index*/
.index-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 3fr 2fr 1fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "navBar" "index__Titulo__Container" "index__VideoyTexto__Container" "index__Suscripciones__Container" "index__ManteneteActivado__Container" "footer";
}

.index__VideoyTexto__Container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas: "index__Video__Container" "index__Texto__Container";
  grid-area: index__VideoyTexto__Container;
}

/*World*/
.World__Container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 5fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "navBar" "World__Titulo__Container" "World__AboutUs__Container" "footer";
}

/*Merchandise*/
.merchandise-Container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 4fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "navBar" "merchandise__main__container" "footer";
}

/*Indoors*/
.indoors-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 3.5fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "navBar" "indoors__Titulo__Container" "indoors__Subtitulos__Container" "indoors__CapitulosyDescripciones__Container" "footer";
}

.indoors__CapitulosyDescripciones__Container {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". indoors__temporada1__episodio1 ." ". indoors__temporada1__descripcion1 .";
  grid-area: indoors__CapitulosyDescripciones__Container;
}

/*Galeria*/
.gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 5fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "navBar" "gallery__titulo__container" "gallery__main__container" "footer";
}

/*Contacto*/
.contact-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 5fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "navBar" "contact__title__container" "contact__main__container" "footer";
}

/*CONTAINERS*/
/*Generales*/
.logoMenuDeNavegacion__container {
  display: flex;
  justify-content: space-evenly;
}

.menuDeNavegacion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}

.margin__izquierdo {
  grid-area: margin__izquierdo;
}

.margin__derecho {
  grid-area: margin__derecho;
}

.footer {
  grid-area: footer;
  background-color: rgb(63, 19, 104);
}

/*Index*/
.index__Titulo__Container {
  grid-area: index__Titulo__Container;
}
.index__Titulo__Container h1 {
  display: flex;
  justify-content: space-evenly;
}

.index__Video__Container {
  grid-area: index__Video__Container;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.index__Video__Container iframe {
  width: 80%;
  height: 90%;
}

.index__Texto__Container {
  grid-area: index__Texto__Container;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  width: 60%;
}
.index__Texto__Container p {
  text-align: center;
}

.index__Suscripciones__Container {
  grid-area: index__Suscripciones__Container;
}

.suscripciones__titulo {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.suscripciones {
  text-align: center;
}

.suscripciones__email {
  width: 200px;
  height: 20px;
  background: linear-gradient(to left, silver, white);
}

.index__ManteneteActivado__Container {
  grid-area: index__ManteneteActivado__Container;
}

.canales__titulo {
  display: flex;
  justify-content: space-evenly;
}

.index__manteneteActivado__canales ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
}

/*World*/
.World__Titulo__Container {
  grid-area: World__Titulo__Container;
}

.World__Titulo__Container h1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.World__Titulo__SubContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.World__AboutUs__Container {
  grid-area: World__AboutUs__Container;
}

.world__activa__titulo {
  display: flex;
  justify-content: center;
}

.world__Textos__1 div {
  display: flex;
  justify-content: center;
}
.world__Textos__1 p {
  width: 80%;
}

.world__leyDeAtraccion__titulo {
  display: flex;
  justify-content: center;
}

.world__Textos__2 div {
  display: flex;
  justify-content: center;
}
.world__Textos__2 p {
  width: 80%;
}

.world__vision__titulo {
  display: flex;
  justify-content: center;
}

.world__Textos__3 div {
  display: flex;
  justify-content: center;
}
.world__Textos__3 p {
  width: 80%;
}

/*Merchandise*/
.merchandise__main__container {
  grid-area: merchandise__main__container;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url(../img/BTTF-Retro-1.gif);
  background-size: cover;
  background-position: center;
}

/*Indoors*/
.indoors__Titulo__Container h1 {
  grid-area: indoors__Titulo__Container;
  display: flex;
  justify-content: space-evenly;
}

.indoors__Subtitulos__Container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.indoors__temporada1__episodio1 {
  grid-area: indoors__temporada1__episodio1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.indoors__temporada1__episodio1 video {
  height: 500px;
}

.indoors__temporada1__descripcion1 {
  grid-area: indoors__temporada1__descripcion1;
  height: 300px;
}
.indoors__temporada1__descripcion1 h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.indoors__temporada1__descripcion1 p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*Galeria*/
.gallery__titulo__container h1 {
  grid-area: gallery__titulo__container;
  display: flex;
  justify-content: space-evenly;
}

.gallery__main__container {
  grid-area: gallery__main__container;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: stretch;
}

.gallery__text__container {
  grid-area: gallery__text__container;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.gallery__text__container p {
  width: 80%;
}

/*Contacto*/
.contact__title {
  display: flex;
  justify-content: space-evenly;
}

.contact__main__container {
  grid-area: contact__main__container;
}

.contact__main__NuestroContacto {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: baseline;
}
.contact__main__NuestroContacto li a {
  text-decoration: none;
  color: white;
}

.seccionContactos__Nombre {
  display: flex;
  justify-content: center;
}

#nombre {
  width: 80%;
}

.seccionContactos__Mail {
  display: flex;
  justify-content: center;
}

#mail {
  width: 80%;
}

.seccionContactos__Telefono {
  display: flex;
  justify-content: center;
}

#telefono {
  width: 80%;
}

.seccionContactos__Empresa {
  display: flex;
  justify-content: center;
}

#empresa {
  width: 80%;
}

.seccionContactos__Asunto {
  display: flex;
  justify-content: center;
}

#asunto {
  width: 80%;
}

.seccionContactos__Mensaje {
  display: flex;
  justify-content: center;
}

#mensaje {
  width: 80%;
  height: 200px;
}

/*TITULOS*/
/*Index*/
.index__Titulo__Container h1 {
  font-size: 4rem;
  color: black;
  -webkit-text-stroke: 1px white;
  font-family: "Bungee";
}

.suscripciones__titulo {
  color: white;
  font-size: 3rem;
  font-family: "Bungee";
}

.canales__titulo {
  color: white;
  font-size: 3rem;
  font-family: "Bungee";
  margin-top: 0;
}

/*World*/
.World__Titulo__Container h1 {
  font-size: 4rem;
  color: black;
  -webkit-text-stroke: 1px white;
  font-family: "Bungee";
}

.world__activa__titulo {
  color: white;
  font-size: 3rem;
  font-family: "Bungee";
}

.world__leyDeAtraccion__titulo {
  color: white;
  font-size: 3rem;
  font-family: "Bungee";
}

.world__vision__titulo {
  color: white;
  font-size: 3rem;
  font-family: "Bungee";
}

/*Merchandise*/
.merchandise__main__container p {
  color: black;
  font-family: "Bungee";
  font-size: 10rem;
  -webkit-text-stroke: 3px white;
}

/*Indoors*/
.indoors__Titulo__Container h1 {
  font-size: 4rem;
  color: black;
  -webkit-text-stroke: 1px white;
  font-family: "Bungee";
}

.indoors__temporada1__descripcion1 h3 {
  color: white;
  font-size: 3rem;
  font-family: "Bungee";
}

/*Galeria*/
.gallery__titulo__container h1 {
  font-size: 4rem;
  color: black;
  -webkit-text-stroke: 1px white;
  font-family: "Bungee";
}

/*Contacto*/
.contact__title {
  font-size: 4rem;
  color: black;
  -webkit-text-stroke: 1px white;
  font-family: "Bungee";
}

/*PARRAFOS*/
/*Generales*/
.navBar .menuDeNavegacion li a {
  color: white;
  text-decoration: none;
  font-family: "Bungee";
  flex-wrap: wrap;
  font-size: 1.8rem;
}

.footer p {
  grid-area: footer;
  color: white;
  font-family: "Russo One";
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

/*Index*/
.index__Texto__Container p {
  font-family: "Russo One";
  font-size: 1.6rem;
}

.suscripciones__email {
  font-family: "Russo One";
  font-size: 1.6rem;
}

/*World*/
.world__Textos__1 p {
  font-family: "Russo One";
  color: white;
  font-size: 1.6rem;
}

.world__Textos__2 p {
  font-family: "Russo One";
  color: white;
  font-size: 1.6rem;
}

.world__Textos__3 p {
  font-family: "Russo One";
  color: white;
  font-size: 1.6rem;
}

/*Indoors*/
.indoors__temporada1__descripcion1 p {
  font-size: 1.6rem;
  font-family: "Russo One";
  color: white;
}

/*Galeria*/
.gallery__text__container p {
  font-family: "Russo One";
  font-size: 1.6rem;
  color: white;
}

/*Contacto*/
.contact__main__NuestroContacto {
  color: white;
  font-family: "Russo One";
  font-size: 1.6rem;
}

#nombre {
  font-family: "Russo One";
}

#mail {
  font-family: "Russo One";
}

#telefono {
  font-family: "Russo One";
}

#empresa {
  font-family: "Russo One";
}

#asunto {
  font-family: "Russo One";
}

#mensaje {
  font-family: "Russo One";
}

/*BOTONES*/
/*Index*/
.suscripciones__button {
  height: 50px;
}
.suscripciones__button:hover {
  color: black;
  background-color: white;
  border: solid 2px black;
}

/*Indoors*/
#episodios__selectTemporada {
  height: 30px;
}
#episodios__selectTemporada:hover {
  color: black;
  background-color: white;
  border: solid 2px black;
}

/*Contacto*/
#botonEnviarContactos {
  height: 50px;
}
#botonEnviarContactos:hover {
  color: black;
  background-color: white;
  border: solid 2px black;
}

/*SEPARACIONES*/
/*Generales*/
.menuDeNavegacion {
  margin-left: -30px;
}

.index__Texto__Container {
  margin-top: 50px;
  margin-left: 405px;
}

/*Index*/
.suscripciones__email {
  margin-right: 50px;
}

.logoSpotify {
  margin-left: -110px;
}

/*World*/
.world__activa__titulo {
  margin-top: 70px;
}

.world__leyDeAtraccion__titulo {
  margin-top: 70px;
}

.world__vision__titulo {
  margin-top: 70px;
}

/*Contacto*/
.contact__main__NuestroContacto {
  margin-left: -45px;
}

#nombre {
  margin-top: 50px;
}

#mail {
  margin-top: 20px;
}

#telefono {
  margin-top: 20px;
}

#empresa {
  margin-top: 20px;
}

#asunto {
  margin-top: 20px;
}

#mensaje {
  margin-top: 20px;
}

#botonEnviarContactos {
  margin-top: 150px;
}

/*IMAGENES*/
/*Index*/
.logoMenuDeNavegacion:hover {
  transform: scale(1.05);
  transition: 1s;
}

.logoSpotify img {
  border-radius: 200px;
}

.logoInstagram img {
  border-radius: 200px;
}

/*World*/
.World__Titulo__Container div img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

/*Galeria*/
.gallery__main__container img {
  margin: 10px 10px;
}
.gallery__main__container img:hover {
  transform: scale(1.2);
  transition: 1s;
}

/*PSEUDOCLASES*/
/*Generales*/
.navBar .menuDeNavegacion li .subrayado:hover {
  border-bottom: solid 2px white;
}

/*MEDIA QUARIES*/
/*Generales*/
@media (max-width: 404px) {
  .navBar {
    margin-left: -10px;
  }
}
@media (max-width: 1200px) {
  .navBar .menuDeNavegacion li a {
    font-size: 1.7rem;
  }
}
@media (max-width: 1024px) {
  .navBar .menuDeNavegacion li a {
    font-size: 1.5rem;
  }
}
@media (max-width: 950px) {
  .navBar .menuDeNavegacion li a {
    font-size: 1.35rem;
  }
}
@media (max-width: 900px) {
  .navBar .menuDeNavegacion li a {
    font-size: 1.25rem;
  }
}
@media (max-width: 850px) {
  .navBar .menuDeNavegacion li a {
    font-size: 1.15rem;
  }
}
@media (max-width: 600px) {
  .navBar .menuDeNavegacion li a {
    font-size: 0.85rem;
    margin-left: 3px;
  }
}
@media (max-width: 480px) {
  .navBar .menuDeNavegacion li a {
    margin-left: 4px;
  }
}
@media (max-width: 320px) {
  .navBar .menuDeNavegacion li a {
    font-size: 0.7rem;
  }
}
@media (max-width: 1200px) {
  .logoMenuDeNavegacion a img {
    height: 95%;
    width: 95%;
  }
}
@media (max-width: 1024px) {
  .logoMenuDeNavegacion a img {
    height: 85%;
    width: 85%;
    margin-left: 10px;
  }
}
@media (max-width: 950px) {
  .logoMenuDeNavegacion a img {
    height: 75%;
    width: 75%;
  }
}
@media (max-width: 768px) {
  .logoMenuDeNavegacion {
    width: 150px;
  }
}
@media (max-width: 1200px) {
  .footer p {
    font-size: 1.14rem;
  }
}
@media (max-width: 1024px) {
  .footer p {
    font-size: 1.02rem;
  }
}
@media (max-width: 950px) {
  .footer p {
    font-size: 0.95rem;
  }
}
@media (max-width: 768px) {
  .footer p {
    font-size: 0.85rem;
  }
}
/*Index*/
@media (max-width: 768px) {
  .index-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 3fr 1fr 1fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "index__Titulo__Container" "index__VideoyTexto__Container" "index__Suscripciones__Container" "index__ManteneteActivado__Container" "footer";
  }
}
@media (max-width: 1200px) {
  .index__Titulo__Container h1 {
    font-size: 3.8rem;
  }
}
@media (max-width: 1024px) {
  .index__Titulo__Container h1 {
    font-size: 3.4rem;
  }
}
@media (max-width: 950px) {
  .index__Titulo__Container h1 {
    font-size: 2.6rem;
  }
}
@media (max-width: 768px) {
  .index__Titulo__Container h1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 1850px) {
  .index__Texto__Container {
    margin-left: 390px;
  }
}
@media (max-width: 1800px) {
  .index__Texto__Container {
    margin-left: 375px;
  }
}
@media (max-width: 1750px) {
  .index__Texto__Container {
    margin-left: 360px;
  }
}
@media (max-width: 1700px) {
  .index__Texto__Container {
    margin-left: 345px;
  }
}
@media (max-width: 1650px) {
  .index__Texto__Container {
    margin-left: 330px;
  }
}
@media (max-width: 1600px) {
  .index__Texto__Container {
    margin-left: 315px;
  }
}
@media (max-width: 1550px) {
  .index__Texto__Container {
    margin-left: 300px;
  }
}
@media (max-width: 1500px) {
  .index__Texto__Container {
    margin-left: 285px;
  }
}
@media (max-width: 1400px) {
  .index__Texto__Container {
    margin-left: 275px;
  }
}
@media (max-width: 1350px) {
  .index__Texto__Container {
    margin-left: 265px;
  }
}
@media (max-width: 1300px) {
  .index__Texto__Container {
    margin-left: 255px;
  }
}
@media (max-width: 1250px) {
  .index__Texto__Container {
    margin-left: 245px;
  }
}
@media (max-width: 1200px) {
  .index__Texto__Container p {
    font-size: 1.4rem;
  }

  .index__Texto__Container {
    margin-left: 235px;
  }
}
@media (max-width: 1150px) {
  .index__Texto__Container {
    margin-left: 225px;
  }
}
@media (max-width: 1100px) {
  .index__Texto__Container {
    margin-left: 215px;
  }
}
@media (max-width: 1050px) {
  .index__Texto__Container {
    margin-left: 205px;
  }
}
@media (max-width: 1024px) {
  .index__Texto__Container {
    margin-left: 200px;
  }
}
@media (max-width: 1000px) {
  .index__Texto__Container {
    margin-left: 195px;
  }
}
@media (max-width: 950px) {
  .index__Texto__Container {
    margin-left: 190px;
    height: 100px;
  }
  .index__Texto__Container p {
    font-size: 1.2rem;
  }
}
@media (max-width: 900px) {
  .index__Texto__Container {
    margin-left: 185px;
  }
}
@media (max-width: 850px) {
  .index__Texto__Container {
    margin-left: 175px;
  }
}
@media (max-width: 800px) {
  .index__Texto__Container {
    margin-left: 170px;
  }
}
@media (max-width: 768px) {
  .index__Texto__Container {
    margin-left: 160px;
  }
}
@media (max-width: 750px) {
  .index__Texto__Container {
    margin-left: 155px;
  }
}
@media (max-width: 700px) {
  .index__Texto__Container {
    margin-left: 145px;
  }
}
@media (max-width: 650px) {
  .index__Texto__Container {
    margin-left: 135px;
    height: 125px;
  }
}
@media (max-width: 600px) {
  .index__Texto__Container {
    margin-left: 125px;
  }
}
@media (max-width: 550px) {
  .index__Texto__Container {
    margin-left: 115px;
  }
}
@media (max-width: 500px) {
  .index__Texto__Container {
    margin-left: 95px;
  }
}
@media (max-width: 480px) {
  .index__Texto__Container {
    margin-top: 10px;
    height: 150px;
  }
}
@media (max-width: 450px) {
  .index__Texto__Container {
    margin-left: 85px;
  }
}
@media (max-width: 400px) {
  .index__Texto__Container {
    margin-left: 80px;
    height: 170px;
  }
}
@media (max-width: 350px) {
  .index__Texto__Container {
    margin-left: 68px;
    height: 170px;
  }
}
@media (max-width: 320px) {
  .index__Texto__Container {
    margin-bottom: 50px;
    margin-left: 20px;
    width: 90%;
  }
}
@media (max-width: 1200px) {
  .suscripciones__titulo {
    font-size: 2.85rem;
  }
}
@media (max-width: 1024px) {
  .suscripciones__titulo {
    font-size: 2.565rem;
  }
}
@media (max-width: 950px) {
  .suscripciones__titulo {
    font-size: 2.436rem;
  }
}
@media (max-width: 768px) {
  .suscripciones__titulo {
    font-size: 1.9rem;
    margin-top: 40px;
  }
}
@media (max-width: 1200px) {
  .suscripciones__email {
    font-size: 1.4rem;
  }
}
@media (max-width: 950px) {
  .suscripciones__email {
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .suscripciones__email {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  .suscripciones__email {
    width: 150px;
  }
}
@media (max-width: 320px) {
  .suscripciones__email {
    width: 150px;
  }
}
@media (max-width: 1200px) {
  .suscripciones__button {
    width: 142.5px;
    height: 47.5px;
    font-size: 1.1rem;
  }
}
@media (max-width: 1024px) {
  .suscripciones__button {
    width: 128.25px;
    height: 42.75px;
    font-size: 0.99rem;
  }
}
@media (max-width: 950px) {
  .suscripciones__button {
    width: 121.84px;
    height: 40.61px;
    font-size: 0.941rem;
  }
}
@media (max-width: 768px) {
  .suscripciones__button {
    width: 95.04px;
    height: 31.68px;
    font-size: 0.734rem;
  }
}
@media (max-width: 1200px) {
  .canales__titulo {
    font-size: 2.85rem;
  }
}
@media (max-width: 1024px) {
  .canales__titulo {
    font-size: 2.565rem;
  }
}
@media (max-width: 950px) {
  .canales__titulo {
    font-size: 2.437rem;
  }
}
@media (max-width: 768px) {
  .canales__titulo {
    font-size: 1.9rem;
  }
}
@media (max-width: 320px) {
  .index__manteneteActivado__canales ul {
    margin-left: -12px;
  }
}
@media (max-width: 768px) {
  .logoSpotify {
    margin-left: -80px;
  }
}
@media (max-width: 600px) {
  .logoSpotify {
    margin-left: -60px;
  }
}
@media (max-width: 800px) {
  .logoSpotify img {
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 800px) {
  .logoInstagram img {
    height: 50px;
    width: 50px;
  }
}
/*World*/
@media (max-width: 320px) {
  .World__Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 6fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "World__Titulo__Container" "World__AboutUs__Container" "footer";
  }
}
@media (max-width: 1200px) {
  .World__Titulo__Container h1 {
    font-size: 3.8rem;
  }
}
@media (max-width: 1024px) {
  .World__Titulo__Container h1 {
    font-size: 3.4rem;
  }
}
@media (max-width: 950px) {
  .World__Titulo__Container h1 {
    font-size: 2.6rem;
  }
}
@media (max-width: 768px) {
  .World__Titulo__Container h1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 1200px) {
  .World__Titulo__Container div img {
    width: 95px;
    height: 95px;
  }
}
@media (max-width: 1024px) {
  .World__Titulo__Container div img {
    width: 85px;
    height: 85px;
  }
}
@media (max-width: 950px) {
  .World__Titulo__Container div img {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 768px) {
  .World__Titulo__Container div img {
    width: 62.4px;
    height: 62.4px;
  }
}
@media (max-width: 1200px) {
  .world__activa__titulo {
    font-size: 2.85rem;
  }
}
@media (max-width: 1024px) {
  .world__activa__titulo {
    font-size: 2.565rem;
  }
}
@media (max-width: 950px) {
  .world__activa__titulo {
    font-size: 2.437rem;
  }
}
@media (max-width: 768px) {
  .world__activa__titulo {
    font-size: 1.9rem;
  }
}
@media (max-width: 1200px) {
  .world__Textos__1 p {
    font-size: 1.4rem;
  }
}
@media (max-width: 950px) {
  .world__Textos__1 p {
    font-size: 1.2rem;
  }
}
@media (max-width: 430px) {
  .world__Textos__1 {
    width: 85%;
    margin-left: 30px;
  }
}
@media (max-width: 1200px) {
  .world__leyDeAtraccion__titulo {
    font-size: 2.85rem;
  }
}
@media (max-width: 1024px) {
  .world__leyDeAtraccion__titulo {
    font-size: 2.565rem;
  }
}
@media (max-width: 950px) {
  .world__leyDeAtraccion__titulo {
    font-size: 2.309rem;
  }
}
@media (max-width: 768px) {
  .world__leyDeAtraccion__titulo {
    font-size: 1.8rem;
  }
}
@media (max-width: 1200px) {
  .world__Textos__2 p {
    font-size: 1.4rem;
  }
}
@media (max-width: 950px) {
  .world__Textos__2 p {
    font-size: 1.2rem;
  }
}
@media (max-width: 430px) {
  .world__Textos__2 {
    width: 85%;
    margin-left: 30px;
  }
}
@media (max-width: 1200px) {
  .world__vision__titulo {
    font-size: 2.85rem;
  }
}
@media (max-width: 1024px) {
  .world__vision__titulo {
    font-size: 2.565rem;
  }
}
@media (max-width: 950px) {
  .world__vision__titulo {
    font-size: 2.437rem;
  }
}
@media (max-width: 768px) {
  .world__vision__titulo {
    font-size: 1.9rem;
  }
}
@media (max-width: 1200px) {
  .world__Textos__3 p {
    font-size: 1.4rem;
  }
}
@media (max-width: 950px) {
  .world__Textos__3 p {
    font-size: 1.2rem;
  }
}
@media (max-width: 430px) {
  .world__Textos__3 {
    width: 85%;
    margin-left: 30px;
  }
}
/*Merchandise*/
@media (max-width: 950px) {
  .merchandise-Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 4.5fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "merchandise__main__container" "footer";
  }
}
@media (max-width: 768px) {
  .merchandise-Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 7fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "merchandise__main__container" "footer";
  }
}
@media (max-width: 383px) {
  .merchandise-Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 7.5fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "merchandise__main__container" "footer";
  }
}
@media (max-width: 361px) {
  .merchandise-Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 8fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "merchandise__main__container" "footer";
  }
}
@media (max-width: 343px) {
  .merchandise-Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 8.3fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "merchandise__main__container" "footer";
  }
}
@media (max-width: 333px) {
  .merchandise-Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 8.5fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "merchandise__main__container" "footer";
  }
}
@media (max-width: 325px) {
  .merchandise-Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 8.8fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "merchandise__main__container" "footer";
  }
}
@media (max-width: 320px) {
  .merchandise-Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 12fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "merchandise__main__container" "footer";
  }
}
@media (max-width: 1300px) {
  .merchandise__main__container p {
    font-size: 9rem;
  }
}
@media (max-width: 1200px) {
  .merchandise__main__container p {
    font-size: 8rem;
  }
}
@media (max-width: 1024px) {
  .merchandise__main__container p {
    font-size: 7rem;
  }
}
@media (max-width: 950px) {
  .merchandise__main__container p {
    font-size: 6rem;
  }
}
@media (max-width: 768px) {
  .merchandise__main__container p {
    font-size: 5.5rem;
  }
}
@media (max-width: 768px) {
  .merchandise__main__container p {
    font-size: 5rem;
  }
}
@media (max-width: 480px) {
  .merchandise__main__container p {
    font-size: 4.5rem;
  }
}
@media (max-width: 320px) {
  .merchandise__main__container p {
    font-size: 4rem;
  }
}
/*Indoors*/
@media (max-width: 888px) {
  .indoors-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.3fr 0.5fr 2fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "indoors__Titulo__Container" "indoors__Subtitulos__Container" "indoors__CapitulosyDescripciones__Container" "footer";
  }
}
@media (max-width: 320px) {
  .indoors-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.3fr 0.1fr 2fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "indoors__Titulo__Container" "indoors__Subtitulos__Container" "indoors__CapitulosyDescripciones__Container" "footer";
  }
}
@media (max-width: 1200px) {
  .indoors__Titulo__Container h1 {
    font-size: 3.8rem;
  }
}
@media (max-width: 1024px) {
  .indoors__Titulo__Container h1 {
    font-size: 3.4rem;
  }
}
@media (max-width: 950px) {
  .indoors__Titulo__Container h1 {
    font-size: 2.6rem;
  }
}
@media (max-width: 768px) {
  .indoors__Titulo__Container h1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 1200px) {
  .indoors__Subtitulos__Container select {
    font-size: 1.1rem;
  }
}
@media (max-width: 1024px) {
  .indoors__Subtitulos__Container select {
    font-size: 0.99rem;
  }
}
@media (max-width: 950px) {
  .indoors__Subtitulos__Container select {
    font-size: 0.941rem;
  }
}
@media (max-width: 768px) {
  .indoors__Subtitulos__Container select {
    font-size: 0.734rem;
  }
}
@media (max-width: 1110px) {
  .indoors__temporada1__episodio1 video {
    height: 400px;
  }
}
@media (max-width: 888px) {
  .indoors__temporada1__episodio1 video {
    height: 350px;
  }
}
@media (max-width: 777px) {
  .indoors__temporada1__episodio1 video {
    height: 300px;
  }
}
@media (max-width: 666px) {
  .indoors__temporada1__episodio1 video {
    width: 100%;
  }
}
@media (max-width: 555px) {
  .indoors__temporada1__episodio1 video {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .indoors__temporada1__descripcion1 h3 {
    font-size: 2.85rem;
  }
}
@media (max-width: 1024px) {
  .indoors__temporada1__descripcion1 h3 {
    font-size: 2.565rem;
  }
}
@media (max-width: 950px) {
  .indoors__temporada1__descripcion1 h3 {
    font-size: 2.437rem;
  }
}
@media (max-width: 768px) {
  .indoors__temporada1__descripcion1 h3 {
    font-size: 1.9rem;
  }
}
@media (max-width: 1200px) {
  .indoors__temporada1__descripcion1 p {
    font-size: 1.4rem;
  }
}
@media (max-width: 950px) {
  .indoors__temporada1__descripcion1 p {
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .indoors__temporada1__descripcion1 p {
    margin-bottom: 50px;
  }
}
/*Galeria*/
@media (max-width: 1791px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.2fr 6fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "gallery__titulo__container" "gallery__main__container" "footer";
  }
}
@media (max-width: 1200px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.2fr 7fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "gallery__titulo__container" "gallery__main__container" "footer";
  }
}
@media (max-width: 960px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.2fr 8fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "gallery__titulo__container" "gallery__main__container" "footer";
  }
}
@media (max-width: 640px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 2fr 0.01fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "gallery__titulo__container" "gallery__main__container" "footer";
  }
}
@media (max-width: 619px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 0.05fr 3fr 0.01fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "gallery__titulo__container" "gallery__main__container" "footer";
  }
}
@media (max-width: 320px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 0.05fr 3.5fr 0.01fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "gallery__titulo__container" "gallery__main__container" "footer";
  }
}
@media (max-width: 1200px) {
  .gallery__titulo__container h1 {
    font-size: 3.8rem;
  }
}
@media (max-width: 1024px) {
  .gallery__titulo__container h1 {
    font-size: 3.4rem;
  }
}
@media (max-width: 950px) {
  .gallery__titulo__container h1 {
    font-size: 2.6rem;
  }
}
@media (max-width: 768px) {
  .gallery__titulo__container h1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 1200px) {
  .gallery__text__container p {
    font-size: 1.4rem;
  }
}
@media (max-width: 950px) {
  .gallery__text__container p {
    font-size: 1.2rem;
  }
}
@media (max-width: 639px) {
  .gallery__text__container {
    align-items: flex-start;
  }
  .gallery__text__container p {
    width: 49%;
    margin-top: 120px;
  }
}
/*Contacto*/
@media (max-width: 768px) {
  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 6fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "contact__title__container" "contact__main__container" "footer";
  }
}
@media (max-width: 320px) {
  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 8fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navBar" "contact__title__container" "contact__main__container" "footer";
  }
}
@media (max-width: 1200px) {
  .contact__title__container h1 {
    font-size: 3.8rem;
  }
}
@media (max-width: 1024px) {
  .contact__title__container h1 {
    font-size: 3.4rem;
  }
}
@media (max-width: 950px) {
  .contact__title__container h1 {
    font-size: 2.6rem;
  }
}
@media (max-width: 768px) {
  .contact__title__container h1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 1200px) {
  .contact__main__NuestroContacto {
    font-size: 1.4rem;
  }
}
@media (max-width: 950px) {
  .contact__main__NuestroContacto {
    font-size: 1.2rem;
  }
}
@media (max-width: 479px) {
  .contact__main__NuestroContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__main__NuestroContacto li {
    margin-top: 20px;
  }
}
@media (max-width: 320px) {
  .contact__main__NuestroContacto {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .contact__main__NuestroContacto {
    margin-left: -55px;
  }
}
@media (max-width: 480px) {
  .contact__main__NuestroContacto {
    margin-left: -35px;
  }
}
@media (max-width: 1024px) {
  #nombre {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  #nombre {
    font-size: 1.1rem;
  }
}
@media (max-width: 1024px) {
  #mail {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  #mail {
    font-size: 1.1rem;
  }
}
@media (max-width: 1024px) {
  #telefono {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  #telefono {
    font-size: 1.1rem;
  }
}
@media (max-width: 1024px) {
  #empresa {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  #empresa {
    font-size: 1.1rem;
  }
}
@media (max-width: 1024px) {
  #asunto {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  #asunto {
    font-size: 1.1rem;
  }
}
@media (max-width: 1024px) {
  #mensaje {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  #mensaje {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  #mensaje {
    font-size: 1.1rem;
  }
}
@media (max-width: 2000px) {
  #botonEnviarContactos {
    margin-left: 925px;
  }
}
@media (max-width: 1950px) {
  #botonEnviarContactos {
    margin-left: 900px;
  }
}
@media (max-width: 1900px) {
  #botonEnviarContactos {
    margin-left: 880px;
  }
}
@media (max-width: 1850px) {
  #botonEnviarContactos {
    margin-left: 850px;
  }
}
@media (max-width: 1800px) {
  #botonEnviarContactos {
    margin-left: 830px;
  }
}
@media (max-width: 1750px) {
  #botonEnviarContactos {
    margin-left: 805px;
  }
}
@media (max-width: 1700px) {
  #botonEnviarContactos {
    margin-left: 780px;
  }
}
@media (max-width: 1650px) {
  #botonEnviarContactos {
    margin-left: 760px;
  }
}
@media (max-width: 1600px) {
  #botonEnviarContactos {
    margin-left: 725px;
  }
}
@media (max-width: 1550px) {
  #botonEnviarContactos {
    margin-left: 700px;
  }
}
@media (max-width: 1500px) {
  #botonEnviarContactos {
    margin-left: 670px;
  }
}
@media (max-width: 1500px) {
  #botonEnviarContactos {
    margin-left: 650px;
  }
}
@media (max-width: 1400px) {
  #botonEnviarContactos {
    margin-left: 620px;
  }
}
@media (max-width: 1350px) {
  #botonEnviarContactos {
    margin-left: 600px;
  }
}
@media (max-width: 1300px) {
  #botonEnviarContactos {
    margin-left: 580px;
  }
}
@media (max-width: 1250px) {
  #botonEnviarContactos {
    margin-left: 550px;
  }
}
@media (max-width: 1200px) {
  #botonEnviarContactos {
    margin-left: 530px;
    width: 142.5px;
    height: 47.5px;
    font-size: 1.1rem;
  }
}
@media (max-width: 1150px) {
  #botonEnviarContactos {
    margin-left: 510px;
  }
}
@media (max-width: 1100px) {
  #botonEnviarContactos {
    margin-left: 480px;
  }
}
@media (max-width: 1050px) {
  #botonEnviarContactos {
    margin-left: 460px;
  }
}
@media (max-width: 1024px) {
  #botonEnviarContactos {
    margin-left: 450px;
    width: 128.25px;
    height: 42.75px;
    font-size: 0.99rem;
  }
}
@media (max-width: 1000px) {
  #botonEnviarContactos {
    margin-left: 440px;
  }
}
@media (max-width: 950px) {
  #botonEnviarContactos {
    margin-bottom: 25px;
    margin-left: 415px;
    width: 115px;
    height: 35px;
    font-size: 0.734rem;
  }
}
@media (max-width: 900px) {
  #botonEnviarContactos {
    margin-left: 395px;
  }
}
@media (max-width: 850px) {
  #botonEnviarContactos {
    margin-left: 360px;
  }
}
@media (max-width: 800px) {
  #botonEnviarContactos {
    margin-left: 340px;
  }
}
@media (max-width: 768px) {
  #botonEnviarContactos {
    margin-left: 330px;
  }
}
@media (max-width: 750px) {
  #botonEnviarContactos {
    margin-left: 320px;
  }
}
@media (max-width: 700px) {
  #botonEnviarContactos {
    margin-left: 300px;
  }
}
@media (max-width: 650px) {
  #botonEnviarContactos {
    margin-left: 275px;
  }
}
@media (max-width: 600px) {
  #botonEnviarContactos {
    margin-left: 245px;
  }
}
@media (max-width: 550px) {
  #botonEnviarContactos {
    margin-left: 220px;
  }
}
@media (max-width: 500px) {
  #botonEnviarContactos {
    margin-left: 195px;
  }
}
@media (max-width: 480px) {
  #botonEnviarContactos {
    margin-left: 175px;
  }
}
@media (max-width: 450px) {
  #botonEnviarContactos {
    margin-left: 165px;
  }
}
@media (max-width: 400px) {
  #botonEnviarContactos {
    margin-left: 145px;
  }
}
@media (max-width: 350px) {
  #botonEnviarContactos {
    margin-left: 115px;
  }
}
@media (max-width: 320px) {
  #botonEnviarContactos {
    margin-left: 100px;
  }
}

/*# sourceMappingURL=styles.css.map */
