/*BOTONES*/


/*Index*/

.suscripciones__button{
    @extend .boton;
    height:50px;
    &:hover{
        @include botonHover (black,white,solid 2px black)                 
    }
}

/*Indoors*/

#episodios__selectTemporada{
    @extend .boton;
    height:30px;
    &:hover{
        @include botonHover (black,white,solid 2px black) 
    }
}

/*Contacto*/

#botonEnviarContactos{
    @extend .boton;
    height:50px;
    &:hover{
        @include botonHover (black,white,solid 2px black)
    }
}


