/*INDEX*/

.suscripciones__button{
    font-family: "Bungee";
    background-color: black;
    color: white;
    border: solid 2px white;
    width:150px;
    height:50px;
}

/*INDOORS*/

.indoors__Subtitulos__Container select{
    font-family: "Bungee";
    color: white;
    background-color:black;
    border: solid 2px white;
    width:150px;
    height:30px;
}

/*CONTACTO*/

#BotonEnviarContactos{
    font-family: "Bungee";
    background-color:black;
    color: white;
    border: solid 2px white;
    width:150px;
    height:50px;
    margin-top: 150px;
    margin-left:875px;
}


