/*CONTAINERS*/


/*Generales*/

.logoMenuDeNavegacion__container{
    @include flex-spaceEvenly;
}

.menuDeNavegacion{
    @include flex-row-spaceAround;
    list-style-type: none;
    align-items: center;
}

.margin__izquierdo { 
    grid-area: margin__izquierdo;
}

.margin__derecho { 
    grid-area: margin__derecho;
}

.footer { 
    grid-area: footer;
    background-color: $colorFondoFooter;
}


/*Index*/

.index__Titulo__Container { 
    grid-area: index__Titulo__Container;
    h1{
        @include flex-spaceEvenly;
    }
}

.index__Video__Container { 
    grid-area: index__Video__Container;
    @include flex-row-spaceAround; 
    align-items: center;
    iframe{
        width:80%;
        height:90%;
    }
}

.index__Texto__Container { 
    grid-area: index__Texto__Container;
    background-color: white;
    border-radius: 20px; 
    text-align: center;
    width:60%;
    p{
        text-align: center;
    }
}


.index__Suscripciones__Container { 
    grid-area: index__Suscripciones__Container; 
}

.suscripciones__titulo{
    @include flex-spaceEvenly;
    text-align: center;
}

.suscripciones{
    text-align: center;
}

.suscripciones__email{
    width: 200px;
    height: 20px;
    background: linear-gradient(to left,silver,white);
}

.index__ManteneteActivado__Container { 
    grid-area: index__ManteneteActivado__Container; 
}

.canales__titulo{
    @include flex-spaceEvenly;
}

.index__manteneteActivado__canales ul{
    @include flex-spaceEvenly;
    list-style-type: none;
    align-items: center;

}

/*World*/

.World__Titulo__Container { 
    grid-area: World__Titulo__Container;
}

.World__Titulo__Container h1{
    @include flex-row-spaceAround;
}

.World__Titulo__SubContainer{
    @include flex-spaceEvenly;
    align-items: center;
}

.World__AboutUs__Container { 
    grid-area: World__AboutUs__Container;
}

.world__activa__titulo{
    @include flex-center;
}

.world__Textos__1 {
    div{
    @include flex-center;
    }
    p{
        width: 80%;
    }
}


.world__leyDeAtraccion__titulo{
    @include flex-center;
}

.world__Textos__2 {
    div{
    @include flex-center;}
    p{
        width: 80%;
    }
}

.world__vision__titulo{
    @include flex-center;
}

.world__Textos__3 {
    div{
    @include flex-center;}
    p{
        width: 80%;
    }
}


/*Merchandise*/

.merchandise__main__container { 
    grid-area: merchandise__main__container;
    @include flex-center;
    align-items: flex-start;
    background-image: url(../img/BTTF-Retro-1.gif);
    background-size: cover;
    background-position: center;
}

/*Indoors*/

.indoors__Titulo__Container h1{
    grid-area:indoors__Titulo__Container;
    @include flex-spaceEvenly;
}

.indoors__Subtitulos__Container{
    @include flex-spaceEvenly;
    align-items: center;

}

.indoors__temporada1__episodio1 { 
    grid-area: indoors__temporada1__episodio1;
    @include flex-row-spaceAround;
    align-items: center;
    video{
        height:500px;
    }
}

.indoors__temporada1__descripcion1{ 
    grid-area: indoors__temporada1__descripcion1;
    height:300px;
    h3{
        @include flex-row-spaceAround;
    }
    p{
        @include flex-row-spaceAround;
    }
}


/*Galeria*/

.gallery__titulo__container h1{ 
    grid-area: gallery__titulo__container;
    @include flex-spaceEvenly;
}

.gallery__main__container { 
    grid-area: gallery__main__container;
    @include flex-center;
    flex-wrap: wrap; 
    align-content: stretch;
}


/*Contacto*/

.contact__title{
    @include flex-spaceEvenly;
}

.contact__main__container { 
    grid-area: contact__main__container; 
}

.contact__main__NuestroContacto{
    @include flex-spaceEvenly;
    list-style-type: none;
    align-items: baseline;
    li a{
        text-decoration: none;
        color: white;
    }
}

.seccionContactos__Nombre{
    @include flex-center;
}

#nombre{
    width: 80%;
}

.seccionContactos__Mail{
    @include flex-center;

}

#mail{
    width: 80%;

}

.seccionContactos__Telefono{
    @include flex-center;

}

#telefono{
    width:80%;

}


.seccionContactos__Empresa{
    @include flex-center;

}

#empresa{
    width: 80%;

}

.seccionContactos__Asunto{
    @include flex-center;

}

#asunto{
    width: 80%;

}

.seccionContactos__Mensaje{
    @include flex-center;

}

#mensaje{
    width: 80%;
    height:200px;

}
