/*INDEX*/

.index__Titulo__Container { 
    grid-area: index__Titulo__Container;
    h1{
        display:flex;
        justify-content:space-evenly;
    }
}

.index__Video__Container { 
    grid-area: index__Video__Container;
    display:flex;
    justify-content: space-around; 
    align-items: center;
    iframe{
        width:80%;
        height:90%;
    }
}

.index__Texto__Container { 
    grid-area: index__Texto__Container;
    background-color: white;
    width: 80%;
    border-radius: 20px; 
    margin-top: 50px;
    margin-left: 150px;
    text-align: center;
}


.index__Suscripciones__Container { 
    grid-area: index__Suscripciones__Container; 
}

.suscripciones__titulo{
    display:flex;
    justify-content:space-evenly;
    text-align: center;
}

.index__ManteneteActivado__Container { 
    grid-area: index__ManteneteActivado__Container; 
}

.canales__titulo{
    display:flex;
    justify-content:space-evenly;
}

.index__manteneteActivado__canales ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;

}

/*WORLD*/

.World__Titulo__Container { 
    grid-area: World__Titulo__Container;
}

.World__Titulo__Container h1{
    display: flex;
    justify-content:space-around;
}

.World__Titulo__SubContainer{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.World__AboutUs__Container { 
    grid-area: World__AboutUs__Container;
}

.world__activa__titulo{
    display:flex;
    justify-content: center;
    margin-top:70px;
}

.world__leyDeAtraccion__titulo{
    display:flex;
    justify-content:center;
    margin-top:70px;
}

.world__vision__titulo{
    display:flex;
    justify-content:center;
    margin-top:70px;
}

/*MERCHANDISE*/

.merchandise__main__container { 
    grid-area: merchandise__main__container;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url(../img/BTTF-Retro-1.gif);
    background-size: cover;
    background-position: center;
}

/*INDOORS*/

.indoors__Titulo__Container h1{
    grid-area:indoors__Titulo__Container;
    display:flex;
    justify-content:space-evenly;
}

.indoors__Subtitulos__Container{
    display:flex;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;

}

.indoors__temporada1__episodio1 { 
    grid-area: indoors__temporada1__episodio1;
    display:flex;
    justify-content: space-around;
}

.indoors__temporada1__descripcion1{ 
    grid-area: indoors__temporada1__descripcion1;
    height:300px;
    h3{
        display:flex;
        justify-content:space-around;
    }
}


/*GALERIA*/

.gallery__titulo__container h1{ 
    grid-area: gallery__titulo__container;
    display:flex;
    justify-content: space-evenly;
}

.gallery__main__container { 
    grid-area: gallery__main__container;
    display:flex;
    flex-wrap: wrap; 
    align-content: stretch;
    justify-content: center;
}

.gallery__text__container { 
    grid-area: gallery__text__container; 
    display:flex;
    justify-content: space-around;
    align-items: center;
}

/*CONTACTO*/

.contact__title{
    display:flex;
    justify-content: space-evenly;
}

.contact__main__container { 
    grid-area: contact__main__container; 
}

.contact__main__NuestroContacto{
    display:flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: baseline;
    margin-left: -45px;
    li a{
        text-decoration: none;
        color: white;
    }
}

.seccionContactos__Nombre{
    display:flex;
    justify-content: space-evenly;
}

.seccionContactos__Mail{
    display:flex;
    justify-content: space-evenly;

}

.seccionContactos__Telefono{
    display:flex;
    justify-content: space-evenly;

}


.seccionContactos__Empresa{
    display:flex;
    justify-content: space-evenly;

}

.seccionContactos__Asunto{
    display:flex;
    justify-content: space-evenly;

}

.seccionContactos__Mensaje{
    display:flex;
    justify-content: space-evenly;

}