/*INDEX*/

.index__Suscripciones__Container form{
    margin-top: 50px;
}

.suscripciones{
    text-align: center;
}

.suscripciones__email{
    width: 200px;
    height:20px;
    background: linear-gradient(to left,silver,white);
    font-family: "Bungee";
    font-size: 10px;
    margin-right: 50px;
}