/*INDEX*/

.index__Suscripciones__Container form{
    margin-top: 50px;
}

.suscripciones{
    text-align: center;
}

.suscripciones__email{
    width: 200px;
    height:20px;
    background: linear-gradient(to left,silver,white);
    font-family: "Bungee";
    font-size: 10px;
    margin-right: 50px;
}

/*CONTACTO*/


#Nombre{
    width: 100%;
    font-family: "Bungee";
    margin-top: 50px;
}


#Mail{
    width: 100%;
    font-family: "Bungee";
    margin-top: 20px;
}


#Telefono{
    width:100%;
    font-family: "Bungee";
    margin-top: 20px;
}

#Empresa{
    width: 100%;
    font-family: "Bungee";
    margin-top: 20px;
}


#Asunto{
    width: 100%;
    font-family: "Bungee";
    margin-top: 20px;
}

#Mensaje{
    width: 100%;
    height:200px;
    font-family: "Bungee";
    margin-top: 20px;
}
