/*INDEX*/

.index__Suscripciones__Container form{
    margin-top: 50px;
}

.suscripciones{
    text-align: center;
}

.suscripciones__email{
    width: 200px;
    height:20px;
    background: linear-gradient(to left,silver,white);
    font-family: "Russo One";
    font-size: 16px;
    margin-right: 50px;
}

/*CONTACTO*/


#Nombre{
    width: 80%;
    font-family: "Russo One";
    margin-top: 50px;
}


#Mail{
    width: 80%;
    font-family: "Russo One";
    margin-top: 20px;
}


#Telefono{
    width:80%;
    font-family: "Russo One";
    margin-top: 20px;
}

#Empresa{
    width: 80%;
    font-family: "Russo One";
    margin-top: 20px;
}


#Asunto{
    width: 80%;
    font-family: "Russo One";
    margin-top: 20px;
}

#Mensaje{
    width: 80%;
    height:200px;
    font-family: "Russo One";
    margin-top: 20px;
}
