html{
    font-size: 62.5%;
}

body{
    background-image: url(../img/darkness.png);
    margin: 0;
}

.navBar { 
    grid-area: navBar;
    display: grid; 
    grid-template-columns:1fr; 
    grid-template-rows: 0.5fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "LogoMenuDeNavegacion"
    "menuDeNavegacion";
}

.LogoMenuDeNavegacion{
    display:flex;
    justify-content: space-evenly;
}

.menuDeNavegacion{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    margin-left: -30px;
}


.navBar .menuDeNavegacion li a{
    color:white;
    text-decoration: none;
    font-family: "Bungee";
    flex-wrap: wrap;
    font-size: 1.8rem;
}

.footer { 
    grid-area: footer;
    color: white;
    font-family: "Bungee";
    background-color: rgb(63, 19, 104);
}


    
.footer p{ 
    grid-area: footer;
    color: white;
    font-family: "Bungee";
    font-size: 10px;
    background-color: rgb(63, 19, 104);
    display:flex;
    justify-content: space-around;
    text-align: center;
}
    


.margin__izquierdo { 
    grid-area: margin__izquierdo;
}

.margin__derecho { 
    grid-area: margin__derecho;
}