/*INDEX*/

.index-container {  
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 0.5fr 0.5fr 3fr 2fr 1fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "navBar"
    "index__Titulo__Container"
    "index__VideoyTexto__Container"
    "index__Suscripciones__Container"
    "index__ManteneteActivado__Container"
    "footer";
}


.index__VideoyTexto__Container {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1.5fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "index__Video__Container"
    "index__Texto__Container"; 
    grid-area: index__VideoyTexto__Container; 
}

/*WORLD*/

.World__Container {  
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 0.5fr 0.5fr 5fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "navBar"
    "World__Titulo__Container"
    "World__AboutUs__Container"
    "footer";
}

/*MERCHANDISE*/

.merchandise-Container {  
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 0.5fr 4fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "navBar"
    "merchandise__main__container"
    "footer";
}

/*INDOORS*/

.indoors-container {  
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 5.5fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "navBar"
    "indoors__Titulo__Container"
    "indoors__Subtitulos__Container"
    "indoors__CapitulosyDescripciones__Container"
    "footer";
}

.indoors__CapitulosyDescripciones__Container {  
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 1.5fr 0.5fr ;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". indoors__temporada1__episodio1 ."
    ". indoors__temporada1__descripcion1 .";
    grid-area: indoors__CapitulosyDescripciones__Container;
}

/*GALERIA*/



.gallery-container {  
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 0.5fr 0.5fr 5fr 1fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "navBar"
    "gallery__titulo__container"
    "gallery__main__container"
    "gallery__text__container"
    "footer";
}


/*CONTACTO*/

.contact-container {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 5fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "navBar"
    "contact__title__container"
    "contact__main__container"
    "footer";
}
