/*INDEX*/


.logoSpotify img{
    border-radius: 200px;
}



.logoInstagram img{
    border-radius: 200px;
}

/*WORLD*/

.World__Titulo__Container div img{
    width: 100px;
    height:100px;
    border-radius: 50px;
}

/*GALERIA*/

.gallery__main__container img {
    margin:10px 10px;
}
