/*IMAGENES*/

/*Index*/

.logoMenuDeNavegacion:hover{
    transform: scale(1.05);
    transition: 1s;
}


.logoSpotify img{
    border-radius: 200px;
}



.logoInstagram img{
    border-radius: 200px;
}

/*World*/

.World__Titulo__Container div img{
    width: 100px;
    height:100px;
    border-radius: 50px;
}

/*Galeria*/

.gallery__main__container img {
    margin:10px 10px;
    &:hover{
        transform:scale(1.2);
        transition: 1s;
    }
}
