/*GENERALES*/


@media (max-width:404px){
    .navBar{margin-left:-10px;
}
}

@media (max-width:1200px) {
    .navBar .menuDeNavegacion li a{
        font-size: 1.7rem;
}
}

@media (max-width:1024px) {
    .navBar .menuDeNavegacion li a{
        font-size: 1.5rem;
}
}

@media (max-width:950px) {
    .navBar .menuDeNavegacion li a{
        font-size: 1.35rem;
}
}

@media (max-width:900px) {
    .navBar .menuDeNavegacion li a{
        font-size: 1.25rem;
}
}

@media (max-width:850px) {
    .navBar .menuDeNavegacion li a{
        font-size: 1.15rem;
}
}

@media (max-width:800px) {
    .navBar .menuDeNavegacion li a{
        font-size: 1.05rem;
}
}

@media (max-width:600px) {
    .navBar .menuDeNavegacion li a{
        font-size: 0.85rem;
        margin-left:3px;
}
}

@media (max-width:480px) {
    .navBar .menuDeNavegacion li a{
        margin-left:5px;
}
}

@media (max-width:320px) {
    .navBar .menuDeNavegacion li a{
        font-size:0.8rem;
}
}





@media (max-width:1200px) {
    .logoMenuDeNavegacion a img{
    height:95%;
    width: 95%;
}
}

@media (max-width:1024px) {
    .logoMenuDeNavegacion a img{
    height:85%;
    width: 85%;
    margin-left: 10px;
}
}

@media (max-width:950px) {
    .logoMenuDeNavegacion a img{
    height:75%;
    width: 75%;
}
}



@media (max-width:320px) {
    .logoMenuDeNavegacion a img{
    height:65%;
    width: 65%;
    margin-left:7px;
}
}

@media (max-width:768px) {
    .logoMenuDeNavegacion{
        width: 100px;
    }

}

@media (max-width:320px) {
    .logoMenuDeNavegacion{
        width: 60px;
    }

}



@media (max-width:1200px) {
    .footer p{
        font-size:9px;
    }
    
}

@media (max-width:1024px) {
    .footer p{
        font-size:8px;
    }
    
}

@media (max-width:950px) {
    .footer p{
        font-size:7.6px;
    }
    
}

@media (max-width:768px) {
    .footer p{
        font-size:5.93px;

    }
    
}

/*INDEX*/


@media (max-width:768px) {
    .index-container {  
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.5fr 0.5fr 5fr 2fr 1fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "index__Titulo__Container"
        "index__VideoyTexto__Container"
        "index__Suscripciones__Container"
        "index__ManteneteActivado__Container"
        "footer";
    }
    
}



@media (max-width:1200px) {
    .index__Titulo__Container h1{
        font-size: 38px;
    }
    
}

@media (max-width:1024px) {
    .index__Titulo__Container h1{
        font-size: 34px;
    }
    
}

@media (max-width:950px) {
    .index__Titulo__Container h1{
        font-size: 26px;
    }
    
}

@media (max-width:768px) {
    .index__Titulo__Container h1{
        font-size: 24px;
    }
    
}

@media (max-width:1400px) {
    .index__Texto__Container{
        margin-left: 100px;
    }
}

@media (max-width:1200px) {
    .index__Texto__Container p{
        font-size: 11.4px;
    }
    
}

@media (max-width:1024px) {
    .index__Texto__Container{
        margin-left: 73px;}    
}

@media (max-width:950px) {
    .index__Texto__Container{
        margin-left: 69.35px;
        p{
            font-size: 11px;
        }
    }
    
}

@media (max-width:768px) {
    .index__Texto__Container{
        margin-left: 54.09px;
    }
    
}

@media (max-width:600px) {
    .index__Texto__Container{
        margin-left: 46px;
        p{
            font-size: 10px;
        }
    }
    
}

@media (max-width:480px) {
    .index__Texto__Container{
        margin-left:30px ;
        width:340px;
    }
    
}

@media (max-width:320px) {
    .index__Texto__Container{
        margin-bottom: 50px;
        margin-left: 20px;
        width:90%;
    }
    
}

@media (max-width:1200px) {
    .suscripciones__titulo{
        font-size:28.5px;
    }
    
}

@media (max-width:1024px) {
    .suscripciones__titulo{
        font-size:25.65px;
    }
    
}

@media (max-width:950px) {
    .suscripciones__titulo{
        font-size:24.36px;
    }
    
}

@media (max-width:768px) {
    .suscripciones__titulo{
        font-size:19px;
    }
    
}


@media (max-width:1200px) {
    .suscripciones__email{
        font-size: 11.4px;
    }
    
}


@media (max-width:950px) {
    .suscripciones__email{
        font-size: 11px;
    }
    
}

@media (max-width:600px) {
    .suscripciones__email{
        font-size: 10px;
    }
    
}

@media (max-width:320px) {
    .suscripciones__email{
        width:150px;
    }
    
}

@media (max-width:1200px) {
    .suscripciones__button{
        width:142.5px;
        height:47.5px;
        font-size: 11px;
    }
    
}

@media (max-width:1024px) {
    .suscripciones__button{
        width:128.25px;
        height:42.75px;
        font-size: 9.9px;
    }
    
}

@media (max-width:950px) {
    .suscripciones__button{
        width:121.84px;
        height:40.61px;
        font-size: 9.41px;
    }
    
}

@media (max-width:768px) {
    .suscripciones__button{
        width:95.04px;
        height:31.68px;
        font-size: 7.34px;
    }
    
}

@media (max-width:1200px) {
    .canales__titulo{
        font-size:28.5px;
    }
    
}

@media (max-width:1024px) {
    .canales__titulo{
        font-size:25.65px;
    }
    
}

@media (max-width:950px) {
    .canales__titulo{
        font-size:24.37px;
    }
    
}

@media (max-width:768px) {
    .canales__titulo{
        font-size:19px;
    }
    
}

@media (max-width:320px) {
    .index__manteneteActivado__canales ul{
        margin-left: -12px;
    }
    
}

@media (max-width:768px) {
    .logoSpotify{
        margin-left: -80px;
    }
}

@media (max-width:600px) {
    .logoSpotify{
        margin-left: -60px;
    }
}

@media (max-width:800px) {
    .logoSpotify img{
        height:50px;
        width:50px;
    }
}

@media (max-width:800px) {
    .logoInstagram img{
        height:50px;
        width:50px;
    }
}

/*WORLD*/

@media (max-width:950px) {
    .World__Container {  
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.5fr 0.5fr 6fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "World__Titulo__Container"
        "World__AboutUs__Container"
        "footer";
    }
    
}

@media (max-width:600px) {
    .World__Container {  
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.5fr 0.5fr 7fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "World__Titulo__Container"
        "World__AboutUs__Container"
        "footer";
    }
    
}

@media (max-width:404px) {
    .World__Container {  
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.5fr 0.5fr 7fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "World__Titulo__Container"
        "World__AboutUs__Container"
        "footer";
    }
    
}

@media (max-width:1200px) {
    .World__Titulo__Container h1{
        font-size:38px;
    }
    
}

@media (max-width:1024px) {
    .World__Titulo__Container h1{
        font-size:34px;
    }
    
}

@media (max-width:950px) {
    .World__Titulo__Container h1{
        font-size:26px;
    }
    
}

@media (max-width:768px) {
    .World__Titulo__Container h1{
        font-size:24px;
    }
    
}

@media (max-width:1200px) {
    .World__Titulo__Container div img{
        width: 95px;
        height:95px;
    }
    
}

@media (max-width:1024px) {
    .World__Titulo__Container div img{
        width: 85px;
        height:85px;
    }
    
}

@media (max-width:950px) {
    .World__Titulo__Container div img{
        width: 80px;
        height:80px;
    }
    
}

@media (max-width:768px) {
    .World__Titulo__Container div img{
        width: 62.4px;
        height:62.4px;
    }
    
}

@media (max-width:1200px) {
    .world__activa__titulo{
        font-size: 28.5px;
    }
}

@media (max-width:1024px) {
    .world__activa__titulo{
        font-size: 25.65px;
    }
}

@media (max-width:950px) {
    .world__activa__titulo{
        font-size: 24.37px;
    }
}

@media (max-width:768px) {
    .world__activa__titulo{
        font-size: 19px;
    }
}

@media (max-width:1200px) {
    .world__Textos__1 p{
        font-size: 11.4px;
    }
}

@media (max-width:950px) {
    .world__Textos__1 p{
        font-size: 11px;
    }
}

@media (max-width:600px) {
    .world__Textos__1 p{
        font-size: 10px;
    }
}

@media (max-width:430px) {
    .world__Textos__1{
        width:85%;
        margin-left: 30px;
    }
    
}


@media (max-width:1200px) {
    .world__leyDeAtraccion__titulo{
        font-size: 28.5px;
    }
}

@media (max-width:1024px) {
    .world__leyDeAtraccion__titulo{
        font-size: 25.65px;
    }
}

@media (max-width:950px) {
    .world__leyDeAtraccion__titulo{
        font-size: 23.09px;
    }
}

@media (max-width:768px) {
    .world__leyDeAtraccion__titulo{
        font-size: 18px;
    }
}

@media (max-width:1200px) {
    .world__Textos__2 p{
        font-size: 11.4px;
    }
}

@media (max-width:950px) {
    .world__Textos__2 p{
        font-size: 11px;
    }
}

@media (max-width:600px) {
    .world__Textos__2 p{
        font-size: 10px;
    }
}

@media (max-width:430px) {
    .world__Textos__2{
        width:85%;
        margin-left: 30px;
    }
    
}



@media (max-width:1200px) {
    .world__vision__titulo{
        font-size: 28.5px;
    }
}

@media (max-width:1024px) {
    .world__vision__titulo{
        font-size: 25.65px;
    }
}

@media (max-width:950px) {
    .world__vision__titulo{
        font-size: 24.37px;
    }
}

@media (max-width:768px) {
    .world__vision__titulo{
        font-size: 19px;
    }
}

@media (max-width:1200px) {
    .world__Textos__3 p{
        font-size: 11.4px;
    }
}

@media (max-width:950px) {
    .world__Textos__3 p{
        font-size: 11px;
    }
}

@media (max-width:600px) {
    .world__Textos__3 p{
        font-size: 10px;
    }
}

@media (max-width:430px) {
    .world__Textos__3{
        width:85%;
        margin-left: 30px;
    }
    
}


/*MERCHANDISE*/

@media (max-width:950px) {
    .merchandise-Container {  
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.5fr 4.5fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "merchandise__main__container"
        "footer";
    }
    

}

@media (max-width:768px) {
    .merchandise-Container {  
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.5fr 7fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "merchandise__main__container"
        "footer";
    }
    

}

@media (max-width:383px) {
    .merchandise-Container {  
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.5fr 7.5fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "merchandise__main__container"
        "footer";
    }
    

}

@media (max-width:361px) {
    .merchandise-Container {  
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.5fr 8fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "merchandise__main__container"
        "footer";
    }
    
    
}

@media (max-width:343px) {
    .merchandise-Container {  
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.5fr 8.3fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "merchandise__main__container"
        "footer";
    }
    

}

@media (max-width:333px) {
    .merchandise-Container {  
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.5fr 8.5fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "merchandise__main__container"
        "footer";
    }
    
    
}

@media (max-width:325px) {
    .merchandise-Container {  
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.5fr 8.8fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "merchandise__main__container"
        "footer";
    }
    
    
}


@media (max-width:320px) {
    .merchandise-Container {  
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.5fr 12fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "merchandise__main__container"
        "footer";
    }
}


@media (max-width:1300px) {
    .merchandise__main__container p{
        font-size: 9rem;
    }
}

@media (max-width:1200px) {
    .merchandise__main__container p{
    font-size: 8rem;
  }
  
}

@media (max-width:1024px) {
  .merchandise__main__container p{
      font-size: 7rem;
  }
  
}

@media (max-width:950px) {
  .merchandise__main__container p{
      font-size: 6rem;
  }
  
}

@media (max-width:768px) {
  .merchandise__main__container p{
      font-size: 5.5rem;
  }
  
}


@media (max-width:768px) {
  .merchandise__main__container p{
      font-size: 5rem;
  }
  
}

@media (max-width:480px) {
  .merchandise__main__container p{
      font-size: 4.5rem;
  }
  
}

@media (max-width:320px) {
  .merchandise__main__container p{
      font-size: 4rem;
  }
  
}

/*INDOORS*/

@media (max-width:768px) {
    .indoors-container {  
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 4fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "indoors__Titulo__Container"
        "indoors__Subtitulos__Container"
        "indoors__CapitulosyDescripciones__Container"
        "footer";
    }
    
}


@media (max-width:1200px) {
    .indoors__Titulo__Container h1{
        font-size:38px;
    }
    
}

@media (max-width:1024px) {
    .indoors__Titulo__Container h1{
        font-size:34px;
    }
    
}

@media (max-width:950px) {
    .indoors__Titulo__Container h1{
        font-size:26px;
    }
}

@media (max-width:768px) {
    .indoors__Titulo__Container h1{
        font-size:24px;
    }
}

@media (max-width:1200px) {
    .indoors__Subtitulos__Container select{
        font-size: 11px;
    }
}

@media (max-width:1024px) {
    .indoors__Subtitulos__Container select{
        font-size: 9.9px;
    }
}

@media (max-width:950px) {
    .indoors__Subtitulos__Container select{
        font-size: 9.41px;
    }
}

@media (max-width:768px) {
    .indoors__Subtitulos__Container select{
        font-size: 7.34px;
    }
}


@media (max-width:1200px) {
    .indoors__temporada1__descripcion1 h3{
        font-size:28.5px;
    }
    
}

@media (max-width:1024px) {
    .indoors__temporada1__descripcion1 h3{
        font-size:25.65px;
    }
    
}

@media (max-width:950px) {
    .indoors__temporada1__descripcion1 h3{
        font-size:24.37px;
    }
    
}

@media (max-width:768px) {
    .indoors__temporada1__descripcion1 h3{
        font-size:19px;
    }
    
}


@media (max-width:768px) {
    .indoors__temporada1__episodio1 video{
        width:100%;
        margin-bottom: 100px;
    }
    
}

@media (max-width:1200px) {
    .indoors__temporada1__descripcion1 p{
        font-size: 11.4px;
    }
    
}

@media (max-width:1024px) {
    .indoors__temporada1__descripcion1 p{
        font-size: 10.26px;
    }
}

@media (max-width:950px) {
    .indoors__temporada1__descripcion1 p{
        font-size: 9.75px;
    }
}

@media (max-width:768px) {
    .indoors__temporada1__descripcion1 p{
        font-size: 7.61px;
    }
}

@media (max-width:600px) {
    .indoors__temporada1__descripcion1 p{
        margin-bottom: 50px;
    }
}

/*GALERIA*/

@media (max-width:1791px) {
    .gallery-container {  
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.4fr 0.2fr 6fr 1fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "gallery__titulo__container"
        "gallery__main__container"
        "gallery__text__container"
        "footer";
    }
    
}

@media (max-width:1200px) {
    .gallery-container {  
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.3fr 0.2fr 6fr 0.8fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "gallery__titulo__container"
        "gallery__main__container"
        "gallery__text__container"
        "footer";
    }
    
}

@media (max-width:950px) {
    .gallery-container {  
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.2fr 0.2fr 6fr 0.8fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "gallery__titulo__container"
        "gallery__main__container"
        "gallery__text__container"
        "footer";
    }
    
}

@media (max-width:895px) {
    .gallery-container {  
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.1fr 0.2fr 6fr 0.5fr 0.05fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "gallery__titulo__container"
        "gallery__main__container"
        "gallery__text__container"
        "footer";
    }
    
}

@media (max-width:768px) {
    .gallery-container {  
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.01fr 0.05fr 5fr 0.3fr 0.01fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "gallery__titulo__container"
        "gallery__main__container"
        "gallery__text__container"
        "footer";
    }
    
}

@media (max-width:1200px) {
    .gallery__titulo__container h1{
        font-size: 38px;
    }
    
}

@media (max-width:1024px) {
    .gallery__titulo__container h1{
        font-size: 34px;
    }
    
}

@media (max-width:950px) {
    .gallery__titulo__container h1{
        font-size: 26px;
    }
    
}

@media (max-width:768px) {
    .gallery__titulo__container h1{
        font-size: 24px;
    }
    
}


@media (max-width:1200px) {
    .gallery__text__container p{
        font-size:11.4px;
    }
    
}

@media (max-width:1024px) {
    .gallery__text__container p{
        font-size:10.26px;
    }
    
}

@media (max-width:950px) {
    .gallery__text__container p{
        font-size:9.75px;
    }
    
}

@media (max-width:768px) {
    .gallery__text__container p{
        font-size:7.61px;
    }
    
}

/*CONTACTO*/

@media (max-width:768px) {
    .contact-container {  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 6fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "contact__title__container"
        "contact__main__container"
        "footer";
    }
    
}

@media (max-width:320px) {
    .contact-container {  
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.5fr 0.5fr 8fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "navBar"
        "contact__title__container"
        "contact__main__container"
        "footer";
    }
    
}


@media (max-width:1200px) {
    .contact__title__container h1{
        font-size:38px;
    }
}

@media (max-width:1024px) {
    .contact__title__container h1{
        font-size:34px;
    }
}

@media (max-width:950px) {
    .contact__title__container h1{
        font-size:26px;
    }
}

@media (max-width:768px) {
    .contact__title__container h1{
        font-size:24px;
    }
}


@media (max-width:1200px) {
    .contact__main__NuestroContacto{
        font-size: 12.4px;
    }
    
}

@media (max-width:1024px) {
    .contact__main__NuestroContacto{
        font-size: 11.16px;
    }
    
}

@media (max-width:950px) {
    .contact__main__NuestroContacto{
        font-size: 10.602px;
    }
    
}

@media (max-width:950px) {
    .contact__main__NuestroContacto{
        font-size: 8.27px;
    }
    
}

@media (max-width:479px) {
    #Nombre{
        width:80%;
        margin-left: -50px;
    }
    
}

@media (max-width:1024px) {
    #Nombre{
        font-size: 12px;
    }
    
}

@media (max-width:768px) {
    #Nombre{
        font-size: 10px;
    }
    
}

@media (max-width:480px) {
    #Nombre{
        font-size: 9px;
    }
    
}

@media (max-width:479px) {
    #Nombre{
        margin-left: -35px;
    }
    
}

@media (max-width:1024px) {
    #Mail{
        font-size: 12px;
    }
    
}

@media (max-width:768px) {
    #Mail{
        font-size: 10px;
    }
    
}

@media (max-width:480px) {
    #Mail{
        font-size: 9px;
    }
    
}


@media (max-width:479px) {
    #Mail{
        width:80%;
        margin-left: -35px;
    }
    
}


@media (max-width:1024px) {
    #Telefono{
        font-size: 12px;
    }
    
}

@media (max-width:768px) {
    #Telefono{
        font-size: 10px;
    }
    
}

@media (max-width:480px) {
    #Telefono{
        font-size: 9px;
    }
    
}


@media (max-width:479px) {
    #Telefono{
        width:80%;
        margin-left: -35px;
    }
    
}

@media (max-width:1024px) {
    #Empresa{
        font-size: 12px;
    }
    
}

@media (max-width:768px) {
    #Empresa{
        font-size: 10px;
    }
    
}

@media (max-width:480px) {
    #Empresa{
        font-size: 9px;
    }
    
}


@media (max-width:479px) {
    #Empresa{
        width:80%;
        margin-left: -35px;
    }
    
}

@media (max-width:1024px) {
    #Asunto{
        font-size: 12px;
    }
    
}

@media (max-width:768px) {
    #Asunto{
        font-size: 10px;
    }
    
}

@media (max-width:480px) {
    #Asunto{
        font-size: 9px;
    }
    
}


@media (max-width:479px) {
    #Asunto{
        width:80%;
        margin-left: -35px;
    }
    
}

@media (max-width:1024px) {
    #Mensaje{
        font-size: 12px;
    }
    
}

@media (max-width:768px) {
    #Mensaje{
        font-size: 10px;
    }
    
}

@media (max-width:480px) {
    #Mensaje{
        font-size: 9px;
    }
    
}


@media (max-width:479px) {
    #Mensaje{
        width:80%;
        margin-left: -3px;
    }
    
}

@media (max-width:1750px) {
    #BotonEnviarContactos{
        margin-left:550px;
    }
    
}

@media (max-width:1700px) {
    #BotonEnviarContactos{
        margin-left:565px;
    }
    
}

@media (max-width:1650px) {
    #BotonEnviarContactos{
        margin-left:525px;
    }
    
}

@media (max-width:1500px) {
    #BotonEnviarContactos{
        margin-left:495px;
    }
    
}

@media (max-width:1400px) {
    #BotonEnviarContactos{
        margin-left:430px;
    }
}

@media (max-width:1300px) {
    #BotonEnviarContactos{
        margin-left:410px;
    }
}

@media (max-width:1200px) {
    #BotonEnviarContactos{
        margin-left:368px;
        width:142.5px;
        height:47.5px;
        font-size: 11px;

    }
    
}

@media (max-width:1100px) {
    #BotonEnviarContactos{
        margin-left:330px;
        width:142.5px;
        height:47.5px;
        font-size: 11px;

    }
    
}


@media (max-width:1024px) {
    #BotonEnviarContactos{
        margin-left:300px;
        width:128.25px;
        height:42.75px;
        font-size: 9.9px;
    }
}

@media (max-width:950px) {
    #BotonEnviarContactos{
        margin-top: 75px;
        margin-left:275px;
        width:121.83px;
        height:40.61px;
        font-size: 9.41px;
    }
}

@media (max-width:900px) {
    #BotonEnviarContactos{
        margin-top: 75px;
        margin-left:250px;
        width:121.83px;
        height:40.61px;
        font-size: 9.41px;
    }
}

@media (max-width:950px) {
    #BotonEnviarContactos{
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left:310px;
        width:95px;
        height:31.68px;
        font-size: 7.34px;
    }
}

@media (max-width:768px) {
    #BotonEnviarContactos{
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left:230px;
        width:95px;
        height:31.68px;
        font-size: 7.34px;
    }
}

@media (max-width:600px) {
    #BotonEnviarContactos{
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left:180px;
        width:95px;
        height:31.68px;
        font-size: 7.34px;
    }
}

@media (max-width:480px) {
    #BotonEnviarContactos{
        margin-left:160px;
    }
}

@media (max-width:320px) {
    #BotonEnviarContactos{
        margin-left:135px;
    }
}
