





/*INDEX*/


.index__Texto__Container p{
    font-family: "Russo One";
    font-size: 16px;
    text-align: center;
}

/*WORLD*/


.world__Textos__1 p{
    font-family: "Russo One";
    color: white;
    font-size: 16px;
    width:80%;
}

.world__Textos__2 p{
    font-family: "Russo One";
    color: white;
    width: 80%;
    border-radius: 20px;
    font-size: 16px;
}

.world__Textos__3 p{
    font-family: "Russo One";
    color: white;
    width: 80%;
    border-radius: 20px;
    font-size: 16px;
}

/*MERCHANDISE*/



/*INDOORS*/

.indoors__temporada1__descripcion1 h3{ 
    font-family: "Bungee";
    color: white;
}

.indoors__temporada1__descripcion1 p{
    font-size: 16px;
    display:flex;
    justify-content: space-around;
    font-family: "Russo One";
    color: white;
    
}

/*GALERIA*/

.gallery__text__container p{
    font-family: "Russo One";
    font-size: 16px;
    width:80%;
    color: white;
}

/*CONTACTO*/

.contact__main__NuestroContacto{
    color:white;
    font-family: "Russo One";
    font-size:15px;
    margin-left: -140px;
}