/*INDEX*/

.suscripciones__parrafo{
    color: white;
    font-size: 12px;
    font-family: "Bungee";
    text-align: center;
}

/*WORLD*/


.world__Textos__1 p{
    font-family: "Bungee";
    color: white;
    width: 100%;
    border-radius: 20px;
    font-size: 12px;
}

.world__Textos__2 p{
    font-family: "Bungee";
    color: white;
    width: 100%;
    border-radius: 20px;
    font-size: 12px;
}

.world__Textos__3 p{
    font-family: "Bungee";
    color: white;
    width: 100%;
    border-radius: 20px;
    font-size: 12px;
}

/*INDOORS*/

.indoors__temporada1__descripcion1 { 
    grid-area: indoors__temporada1__descripcion1;
    color:white;
    font-family: "Bungee";
}

.indoors__temporada1__descripcion1 p{
    font-size: 12px;
    display:flex;
    justify-content: space-around;
}