/*GENERALES*/
.navBar .menuDeNavegacion li a{
    color:$colorTextoMenuDeNavegacion;
    text-decoration: none;
    font-family: $tipogrfiaMenuDeNavegacion;
    flex-wrap: wrap;
    font-size: $tFuenteMenuDeNavegacion;
}


.footer p{ 
    grid-area: footer;
    color: $colorTextoFooter;
    font-family: $tipografiaFooter;
    font-size: $tFuenteFooter;
    @include flex-row-spaceAround;
    text-align: center;
}


/*INDEX*/


.index__Texto__Container p{
    font-family: $tipografiaTextos;
    font-size: $tParrafos;
}

.suscripciones__email{
    font-family: $tipografiaFormularios;
    font-size: $tTipografiaFormularios;
}
/*WORLD*/


.world__Textos__1 p{
    font-family: $tipografiaTextos;
    color: $colorTextos;
    font-size: $tParrafos;
}

.world__Textos__2 p{
    font-family: $tipografiaTextos;
    color: $colorTextos;
    font-size: $tParrafos;
}

.world__Textos__3 p{
    font-family: $tipografiaTextos;
    color: $colorTextos;
    font-size: $tParrafos;
}

/*MERCHANDISE*/



/*INDOORS*/

.indoors__temporada1__descripcion1 p{
    font-size: $tParrafos;
    font-family: $tipografiaTextos;
    color: $colorTextos;
    
}

/*GALERIA*/

.gallery__text__container p{
    font-family: $tipografiaTextos;
    font-size: $tParrafos;
    color: $colorTextos;
}

/*CONTACTO*/

.contact__main__NuestroContacto{
    color:$colorTextos;
    font-family: $tipografiaTextos;
    font-size:$tParrafos;
}

#nombre{
    font-family: $tipografiaFormularios;
}

#mail{
    font-family:  $tipografiaFormularios;
}

#telefono{
    font-family:  $tipografiaFormularios;
}

#empresa{
    font-family:  $tipografiaFormularios;
}

#asunto{
    font-family:  $tipografiaFormularios;
}

#mensaje{
    font-family:  $tipografiaFormularios;
}