/*GENERALES*/

.menuDeNavegacion{
    margin-left: -30px;
}

.index__Texto__Container{
    margin-top: 50px;
    margin-left: 480px;
}


/*INDEX*/

.suscripciones__email{
    margin-right: 50px;
}

.logoSpotify{
    margin-left: -110px;
}

/*WORLD*/

.world__activa__titulo{
    margin-top:$separacionSuperiorTitulosWorld;
}

.world__leyDeAtraccion__titulo{
    margin-top: $separacionSuperiorTitulosWorld;
}

.world__vision__titulo{
    margin-top: $separacionSuperiorTitulosWorld;
}

/*MERCHANDISE*/



/*INDOORS*/

/*GALERIA*/

/*CONTACTO*/

.contact__main__NuestroContacto{
    margin-left: -45px;
}

#nombre{
    margin-top: $separacionSuperiorFormularioContactos+30px;
}

#mail{
    margin-top:$separacionSuperiorFormularioContactos;
}

#telefono{
    margin-top:$separacionSuperiorFormularioContactos;
}

#empresa{
    margin-top:$separacionSuperiorFormularioContactos;
}

#asunto{
    margin-top:$separacionSuperiorFormularioContactos;
}

#mensaje{
    margin-top:$separacionSuperiorFormularioContactos;
}

#botonEnviarContactos{
    margin-top:150px;
    margin-left:875px;
}