/*INDEX*/

.index__Titulo__Container h1{
    font-size: 40px;
    color: black;
    -webkit-text-stroke:1px white;
    font-family: "Bungee";
}

.suscripciones__titulo{
    color: white;
    font-size: 30px;
    font-family: "Bungee";
}

.canales__titulo{
    color: white;
    font-size: 30px;
    font-family: "Bungee";
    margin-top: 0;
}

/*WORLD*/

.World__Titulo__Container h1{
    font-family: "Bungee";
    color: black;
    -webkit-text-stroke:1px white;
    font-size: 40px;
}

.world__activa__titulo{
    font-size: 30px;
    font-family: "Bungee";
    color: white;
}


.world__leyDeAtraccion__titulo{
    font-size: 30px;
    font-family: "Bungee";
    color: white;
}

.world__vision__titulo{
    font-size: 30px;
    font-family: "Bungee";
    color: white;
}

/*MERCHANDISE*/

.merchandise__main__container p{
    font-family: "Bungee";
    font-size: 10rem;
    color: black;
    -webkit-text-stroke:3px white;
}

/*INDOORS*/

.indoors__Titulo__Container{
    h1{ 
        grid-area: indoors__Titulo__Container;
        color: black;
        -webkit-text-stroke:1px white;
        font-family: "Bungee";
        font-size:40px;
    }
}

.episodios__titulo{
    color: white;
    font-family: "Bungee";
}

.indoors__temporada1__descripcion1 h3{
    font-size: 30px;
}

/*GALERIA*/

.gallery__titulo__container h1{
    font-family: "Bungee";
    color: black;
    -webkit-text-stroke:1px white;
    font-size: 40px;
}


/*CONTACTO*/

.contact__title{ 
    grid-area: contact__title__container; 
    font-size: 40px;
    color: black;
    -webkit-text-stroke:1px white;
    font-family: "Bungee";
}

