/*TITULOS*/

/*Index*/

.index__Titulo__Container h1{
    font-size: map-get($map: $tituloDePagina, $key: tFuente );
    color:map-get($map: $tituloDePagina, $key: color );
    -webkit-text-stroke:map-get($map: $tituloDePagina, $key:estilo );
    font-family: map-get($map: $tituloDePagina, $key:tFamilia );
}

.suscripciones__titulo{
    color:map-get($map: $titulosEnPagina, $key:color);
    font-size:map-get($map: $titulosEnPagina, $key:tFuente );
    font-family: map-get($map: $titulosEnPagina, $key:tFamilia );
}

.canales__titulo{
    color:map-get($map: $titulosEnPagina, $key:color);
    font-size:map-get($map: $titulosEnPagina, $key:tFuente );
    font-family: map-get($map: $titulosEnPagina, $key:tFamilia );
    margin-top: 0;
}

/*World*/

.World__Titulo__Container h1{
    font-size: map-get($map: $tituloDePagina, $key: tFuente );
    color:map-get($map: $tituloDePagina, $key: color );
    -webkit-text-stroke:map-get($map: $tituloDePagina, $key:estilo );
    font-family: map-get($map: $tituloDePagina, $key:tFamilia );
}

.world__activa__titulo{
    color:map-get($map: $titulosEnPagina, $key:color);
    font-size:map-get($map: $titulosEnPagina, $key:tFuente );
    font-family: map-get($map: $titulosEnPagina, $key:tFamilia );
}


.world__leyDeAtraccion__titulo{
    color:map-get($map: $titulosEnPagina, $key:color);
    font-size:map-get($map: $titulosEnPagina, $key:tFuente );
    font-family: map-get($map: $titulosEnPagina, $key:tFamilia );
}

.world__vision__titulo{
    color:map-get($map: $titulosEnPagina, $key:color);
    font-size:map-get($map: $titulosEnPagina, $key:tFuente );
    font-family: map-get($map: $titulosEnPagina, $key:tFamilia );
}

/*Merchandise*/

.merchandise__main__container p{
    color:map-get($map: $tituloMerchandise, $key:color );
    font-family: map-get($map: $tituloMerchandise, $key:tFamilia);
    font-size: map-get($map: $tituloMerchandise, $key:tFuente);
    -webkit-text-stroke:map-get($map: $tituloMerchandise, $key:estilo);
}

/*Indoors*/

.indoors__Titulo__Container h1{
    font-size: map-get($map: $tituloDePagina, $key: tFuente );
    color:map-get($map: $tituloDePagina, $key: color );
    -webkit-text-stroke:map-get($map: $tituloDePagina, $key:estilo );
    font-family: map-get($map: $tituloDePagina, $key:tFamilia );
}



.indoors__temporada1__descripcion1 h3{
    color:map-get($map: $titulosEnPagina, $key:color);
    font-size:map-get($map: $titulosEnPagina, $key:tFuente );
    font-family: map-get($map: $titulosEnPagina, $key:tFamilia );
}

/*Galeria*/

.gallery__titulo__container h1{
    font-size: map-get($map: $tituloDePagina, $key: tFuente );
    color:map-get($map: $tituloDePagina, $key: color );
    -webkit-text-stroke:map-get($map: $tituloDePagina, $key:estilo );
    font-family: map-get($map: $tituloDePagina, $key:tFamilia );
}


/*Contacto*/

.contact__title{ 
    font-size: map-get($map: $tituloDePagina, $key: tFuente );
    color:map-get($map: $tituloDePagina, $key: color );
    -webkit-text-stroke:map-get($map: $tituloDePagina, $key:estilo );
    font-family: map-get($map: $tituloDePagina, $key:tFamilia );
}

